<annotation quality-qualifier='$annotation.getQualityQualifier()' #if($annotation.synonym)accession="$annotation.synonym" database='neXtProt'#end>
	#if($annotation.getCvTermName())
    <cv-term accession='$annotation.getCvTermAccessionCode()'>
    	<cv-name>$annotation.getCvTermName()</cv-name>
    </cv-term>
    #end
	#if($annotation.getDescription())
    <description>
	  #set($UNESCAPED_CDATA = $annotation.getDescription())
      <![CDATA[$UNESCAPED_CDATA]]>
    </description>
    #end
	#if($annotation.getVariant())
    	<variant original='$annotation.getVariant().getOriginal()' variation='$annotation.getVariant().getVariant()' />
	#end
	## might have no properties so need to check
	#if(($annotation.getProperties()) && ($annotation.getProperties().size() > 0))
    <property-list>
        #foreach($property in $annotation.getProperties())
			#if(!$property.getName().equals("rank"))
				<property #if($property.getType()) type='$property.getType()' #end property-name='$property.getName()'  value='$property.getValue()' #if($property.getAccession()) accession='$property.getAccession()' #end />
			#end
		#end
    </property-list>
	#end
    #if($annotation.getEvidences())
    <evidence-list>
        #foreach($evidence in $annotation.getEvidences())
			## should include qualifier-type='$evidence.getQualifierType()' 
			<evidence is-negative='$evidence.isNegativeEvidence()' evidence-code='$evidence.getEvidenceCodeAC()' resource-internal-ref='$evidence.getResourceId()'  resource-assoc-type='$evidence.getResourceAssociationType()' #if($evidence.getQualityQualifier()) accession='$evidence.getQualityQualifier()' #end resource-type='$evidence.getResourceType()' #if($evidence.getExperimentalContextId()>0) experimental-context-internal-ref='$evidence.getExperimentalContextId()' #end #if($evidence.getAssignedBy()) source-internal-ref='$evidence.getAssignedBy()' #end	/>
		#end
    </evidence-list>
	#end
	#set($target-isoform-list = $annotation.getTargetingIsoformsMap())
	#parse('target-isoform-list-annotation.xml.vm')	
</annotation>
