<annotation-list>
#foreach($category in $NXUtils.annotationCategories)
#if ($category.isLeaf())
#set($catName=$NXUtils.getAnnotationCategoryNameForXML($category))
#set($catHier=$NXUtils.getAnnotationCategoryHierachyForXML($category))
  <annotation-category category="$catName" hierarchy="$catHier">
#set($annotations=$NXUtils.getAnnotationsByCategory($entry, $category))
#foreach($annotation in $annotations)
    #parse("annotation.xml.vm")
#end
  </annotation-category>
#end
#end
</annotation-list>
