<annotations>
#foreach($category in $NXUtils.annotationCategories)
#if ($category.isLeaf())
  <annotation-list category="$StringUtils.decamelizeAndReplaceByHyphen($category.apiTypeName)">
#set($annotations = $NXUtils.getAnnotationsByCategory($entry, $category))
#foreach($annotation in $annotations)
    #parse("annotation.xml.vm")
#end
  </annotation-list>
#end
#end
</annotations>
