<annotation-list>
#foreach($category in $entry.getAnnotationCategories())
<annotation category='$StringUtils.decamelizeAndReplaceByHyphen($category)'>
	#foreach($annotation in $entry.getAnnotationsByCategory($category))
		#parse("annotation.xml.vm")
	#end
</annotation>
#end
</annotation-list>
