<annotation quality='$annotation.getQualityQualifier()' annotation-internal-id='#if($annotation.getAnnotationHash())$annotation.getAnnotationHash()#else$annotation.getAnnotationId()#end'>
	#if($annotation.getSubjectComponents())
    <biological-subject>
    	<biological-subject-component-list>
	    #foreach($component in $annotation.getSubjectComponents())
		    <biological-subject-component annotation-internal-ref="$component" />
		#end
		</biological-subject-component-list>
   </biological-subject>
    #end
	#if($annotation.getCvTermName())
    <cv-term accession='$annotation.getCvTermAccessionCode()' terminology='$StringUtils.camelToKebabCase($annotation.getCvApiName())'>$annotation.getCvTermName()</cv-term>
    #end
	#if($annotation.getDescription())
    <description>
	  #set($UNESCAPED_CDATA = $annotation.getDescription())
      <![CDATA[$UNESCAPED_CDATA]]>
    </description>
    #end
	#if($annotation.getVariant())
    	<variant original='$annotation.getVariant().getOriginal()' variation='$annotation.getVariant().getVariant()' />
	#end

	#if($annotation.getBioObject())
		#set($bioObject = $annotation.getBioObject())
		#set($bioType = $bioObject.getBioType().toString())
		#set($resourceType = $bioObject.getResourceType().toString())

		#if($bioObject.size() == 1)
			#if($resourceType == "EXTERNAL")
                <biological-object bio-type='$StringUtils.snakeToKebabCase($bioType)' resource-internal-ref='$bioObject.getId()'/>
			#elseif($resourceType == "INTERNAL")
                <biological-object bio-type='$StringUtils.snakeToKebabCase($bioType)' #if($bioObject.getAccession()) accession='$bioObject.getAccession()' #else annotation-internal-ref='$bioObject.getAnnotationHash()' #end database='neXtProt'/>
			#end
		#else
            <biological-object bio-type='$StringUtils.snakeToKebabCase($bioType)'>
                <biological-object-list>
				#foreach($bo in $bioObject.getContent())
					#if($resourceType == "EXTERNAL")
                        <biological-object bio-type='$StringUtils.snakeToKebabCase($bo.getBioType().toString())' resource-internal-ref='$bo.getId()'/>
					#elseif($resourceType == "INTERNAL")
                        <biological-object bio-type='$StringUtils.snakeToKebabCase($bo.getBioType().toString())' accession='$bo.getAccession()' database='neXtProt'/>
					#end
				#end
                </biological-object-list>
            </biological-object>
		#end
	#end

	#if($annotation.getRelatedAnnotationNames())
		<related-annotations>
			#foreach($annotationName in $annotation.getRelatedAnnotationNames())
				<related-to unique-name="$annotationName"/>
			#end
		</related-annotations>
	#end

	## might have no properties so need to check
	#set($annotationProperties = $annotation.getPropertiesExceptName("rank"))
	#if(!$annotationProperties.isEmpty())
    <property-list>
        #foreach($property in $annotationProperties)
			<property name='$property.getName()' value='$property.getValue()' #if($property.getValueType()) value-type='$property.getValueType()' #end #if($property.getAccession()) accession='$property.getAccession()' #end />
		#end
    </property-list>
	#end

	#set($annotationEvidence = $annotation.getEvidences())
    #if($annotationEvidence && (!$annotationEvidence.isEmpty()) )
    <evidence-list>
        #foreach($evidence in $annotationEvidence)
			## should include qualifier-type='$evidence.getQualifierType()' 
			<evidence is-negative='$evidence.isNegativeEvidence()' resource-internal-ref='$evidence.getResourceId()'  resource-assoc-type='$evidence.getResourceAssociationType()' #if($evidence.getQualityQualifier()) quality='$evidence.getQualityQualifier()' #end resource-type='$evidence.getResourceType()' #if($evidence.getExperimentalContextId()>0) experimental-context-internal-ref='$evidence.getExperimentalContextId()' #end #if($evidence.getAssignedBy()) source-internal-ref='$evidence.getAssignedBy()' #end >
				<cv-term accession="$evidence.getEvidenceCodeAC()" terminology="$StringUtils.camelToKebabCase($evidence.getEvidenceCodeOntology())">$evidence.getEvidenceCodeName()</cv-term>
				#if(!$evidence.getPropertiesNames().isEmpty())
                    <property-list>
					#foreach($pname in $evidence.getPropertiesNames())
						#set($epw=false)
						#set($epw=$NXUtils.getXMLPropertyWriter($annotation.getAPICategory(), $pname))
						#if($epw)
							#set($UNESCAPED_CDATA = $epw.formatValue($evidence.getPropertyRawValue($pname)))
							<property name="$pname" value="$UNESCAPED_CDATA" />
						#else
							<property name="$pname" value="$evidence.getPropertyValue($pname)" />
						#end
					#end
                    </property-list>
					
					
				#end
				#if($evidence.getNote())
					#set($UNESCAPED_CDATA = $evidence.getNote())
					<evidence-note><![CDATA[$UNESCAPED_CDATA]]></evidence-note>
				#end
			</evidence>
		#end
    </evidence-list>
	#end
	#set($target-isoform-list = $annotation.getTargetingIsoformsMap())
	#parse('target-isoform-list-annotation.xml.vm')
</annotation>
