<antibody-list>
	#foreach($antibody in $entry.antibodyMappings)
		<antibody>
			#if($antibody.xrefs.size() != 0)
				#foreach($xref in $antibody.xrefs)
					#set($UNESCAPED_CDATA = $xref.resolvedUrl)
					<url><![CDATA[$UNESCAPED_CDATA]]></url>
				#end
			#end
		#set($target-isoform-list = $antibody.isoformSpecificity)
		#parse('target-isoform-list.xml.vm')	
		</antibody>
	#end
</antibody-list>