<search-result>
	<elapsedTime>${result.elapsedTime}</elapsedTime>
	<entity>${result.alias}</entity>
	<index>${result.index}</index>
	<score>${result.score}</score>
	<found>${result.found}</found>
	<rows>${result.rows}</rows>
	<results>
		#foreach($res in $result.results)
			<result>
				#foreach($prop in $res.entrySet())
					<$prop.getKey()>$prop.getValue()</$prop.getKey()>
				#end
			</result>
		#end
	</results>
	<facets>
		#foreach($prop in $result.getFacets().entrySet())
			<facet name="$prop.getKey()">
			#foreach($map in $prop.getValue())
				<facet-field name="$map.get("name")">$map.get("count")</facet-field>
			#end
			</facet>
		#end
	</facets>
</search-result>
