{
	"elapsedTime":${result.elapsedTime},
	"entity":"${result.entity}",
	"index":"${result.index}",
	#foreach($prop in $result.getFacets().entrySet())
	"autocomplete": [
		#foreach($map in $prop.getValue())
		{ "name":"$map.get("name")", "count":$map.get("count") } #if($velocityHasNext), #end
		 
		#end
	]
	#end

}
