<protein-name  type="recommended" category="$entityName.type" value="$entityName.name" is-main="$entityName.isMain()" qualifier="#if($entityName.getQualifier())$entityName.getQualifier()#end"></protein-name>
#if($entityName.synonyms)
	#foreach($synonym in $entityName.synonyms)
		<protein-name type="alternative" category="$entityName.type" value="$entityName.name" is-main="$entityName.isMain()" qualifier="#if($entityName.getQualifier())$entityName.getQualifier()#end"></protein-name>
	#end
#end	
