<entity-name 
	type="$entityName.type" value="$entityName.synonymName"
	is-main="$entityName.isMain()" qualifier="#if($entityName.getQualifier())$entityName.getQualifier()#end">
	#if($entityName.synonyms)
        <synonyms>
		#foreach($synonym in $entityName.synonyms)
			#set($entityName = $synonym)
			#parse('entity-name.xml.vm')
		#end
		</synonyms>
	#end				
</entity-name>