<entry accession='$entry.uniqueName' database='neXtProt'>
    #if($entry.overview) #parse('overview.xml.vm') #end
    #if($entry.isoforms) #parse('isoform-list.xml.vm') #end
    #if($entry.chromosomalLocations) #parse('chromosomal-location-list.xml.vm') #end
    #if($entry.genomicMappings) #parse('genomic-mapping-list.xml.vm') #end
    #if($entry.identifiers) #parse('identifier-list.xml.vm') #end
    #if($entry.annotations) #parse('annotation-list.xml.vm') #end
    ## #if($NXUtils.hasMappings($entry)) #parse('mapping-list.xml.vm') #end
    #if($entry.publications) #parse('publication-list.xml.vm') #end
    #if($entry.xrefs) #parse('xref-list.xml.vm') #end
	#if($entry.experimentalContexts) #parse('experimental-context-list.xml.vm') #end	
</entry>
