<experimental-context-list>
#foreach($ctx in $entry.getExperimentalContexts())
	<experimental-context internal-id='$ctx.getContextId()' #if($ctx.tissueAC) tissue-ac='$ctx.tissueAC' #end #if($ctx.developmentalStageAC) developmental-stage-ac='$ctx.developmentalStageAC' #end #if($ctx.cellLineAC) cell-line-ac='$ctx.cellLineAC' #end #if($ctx.diseaseAC) disease-ac='$ctx.diseaseAC' #end #if($ctx.organelleAC) organelle-ac='$ctx.organelleAC' #end #if($ctx.detectionMethodAC) detection-method-ac='$ctx.detectionMethodAC' #end #if($ctx.metadataAC) metadata-ac='$ctx.metadataAC' #end />
#end
</experimental-context-list>
