    </entry-list>
    <copyright>
        Copyrighted by the SIB Swiss Institute of Bioinformatics.
        Distributed under the Creative Commons Attribution 4.0 International Public License (CC BY 4.0) - see https://creativecommons.org/licenses/by/4.0/
    </copyright>
</nextprot-export>
