<genomic-mapping accession='$genomicMapping.accession' database='$genomicMapping.database'>
	#if(!$genomicMapping.isoformGeneMappings.isEmpty())
	<isoform-mapping-list>
		#foreach($isoformGeneMapping in $genomicMapping.isoformGeneMappings)
		<isoform-mapping accession="$isoformGeneMapping.isoformName" main-name="$isoformGeneMapping.isoform.mainEntityName.value">
			#if(!$isoformGeneMapping.transcriptGeneMappings.isEmpty())
			<transcript-mapping-list>
				#foreach($transcriptGeneMapping in $isoformGeneMapping.transcriptGeneMappings)
				<transcript-mapping accession='$transcriptGeneMapping.databaseAccession' database='$transcriptGeneMapping.database' quality='$transcriptGeneMapping.quality'>
					<transcript-protein accession='$transcriptGeneMapping.proteinId' database='$transcriptGeneMapping.database'/>
					<exon-list>
						#foreach($exon in $transcriptGeneMapping.exons)
			   			<exon rank='$exon.rank' #if($exon.codingStatus)coding-status='$exon.codingStatus'#end #if($exon.accession)accession='$exon.accession'#end #if($exon.accession)database='$transcriptGeneMapping.database'#else database='neXtProt'#end>
							<position-on-gene begin='$exon.firstPositionOnGene' end='$exon.lastPositionOnGene' />
							#if($exon.firstAminoAcid)
								<amino-acid rank='first' sequence-position='$exon.firstAminoAcid.position' phase='$exon.firstAminoAcid.phase' value='$exon.firstAminoAcid.base'/>
                			#end
							#if($exon.lastAminoAcid)
                				<amino-acid rank='last' sequence-position='$exon.lastAminoAcid.position' phase='$exon.lastAminoAcid.phase' value='$exon.lastAminoAcid.base'/>
                			#end
              			</exon>
						#end
					</exon-list>
				</transcript-mapping>
				#end
			</transcript-mapping-list>
			#end
		</isoform-mapping>
		#end
	</isoform-mapping-list>
	#end
</genomic-mapping>
