<interaction quality-qualifier='$interaction.quality'>
#foreach($interactant in $interaction.interactants)
	#if($interaction.isSelfInteraction() || ! $interactant.isEntryPoint())		
        #if($interactant.isNextprot())
	<interactant database='neXtProt' accession='NX_$interactant.accession' />
		#else
	<interactant database='$interactant.database' accession='$interactant.accession'>
		#set($UNESCAPED_CDATA = $interactant.url)
		<url><![CDATA[$UNESCAPED_CDATA]]></url>
	</interactant>
		#end
	#end
#end
    <evidence-list>
    	<evidence 
    		is-negative='false'
    		evidence-code='ECO:0000353' 
    		source-ref='$interaction.evidenceDatasource'>
		    <xref database="$interaction.evidenceXrefDB" accession="$interaction.evidenceXrefAC">
        		#set($UNESCAPED_CDATA = $interaction.evidenceXrefURL)
        		<url><![CDATA[$UNESCAPED_CDATA]]></url>
    		</xref>
    	</evidence>
    </evidence-list>
    <experiment-count>$interaction.numberOfExperiments</experiment-count>
</interaction>
