<isoform-sequence-list>
	#foreach($isoform in $entry.isoforms)
	<isoform-sequence name='$isoform.mainEntityName.value' accession='$isoform.uniqueName' database='neXtProt' #if($isoform.isSwissProtDisplayedIsoform()) canonical-isoform='true' #end>
		$isoform.sequence
	</isoform-sequence>
	#end
</isoform-sequence-list>
