<mapping-list>
    #if($entry.peptideMappings) #parse('peptide-list.xml.vm') #end
    #if($entry.srmPeptideMappings) #parse('srm-peptide-list.xml.vm') #end
	#if($entry.antibodyMappings) #parse('antibody-list.xml.vm') #end
</mapping-list>
