<overview>
## ----------------- PROTEIN EXISTENCE -----------------------------
#if($entry.overview.proteinExistences)
    <protein-existence value='$entry.overview.getProteinExistence().descriptionName'/>
#end
## ----------------- PROTEIN NAMES ---------------------------------
#if($entry.overview.proteinNames)
    <protein-name-list>
## ----------------- RECOMMENDED-NAME ------------------------------
        <recommended-name>
    #set ( $recommendedName = $entry.getOverview().getRecommendedProteinName() )
            <protein-name qualifier="#if($recommendedName.getQualifier())$recommendedName.getQualifier()#end">$recommendedName.name</protein-name>
	    #foreach($otherEntity in $recommendedName.getOtherRecommendedEntityNames())
	        <protein-name qualifier="#if($otherEntity.getQualifier())$otherEntity.getQualifier()#end">$otherEntity.name</protein-name>
	    #end
        #foreach($synName in $recommendedName.synonyms)
            <protein-name qualifier="#if($synName.getQualifier())$synName.getQualifier()#end">$synName.name</protein-name>
        #end
        </recommended-name>
## ----------------- ALTERNATIVE-NAMES (LIST) ------------------------------
    #if(!$entry.overview.alternativeProteinNames.isEmpty())
        <alternative-name-list>
    #foreach($entityName in $entry.overview.alternativeProteinNames)
            <alternative-name>
                <protein-name qualifier="#if($entityName.getQualifier())$entityName.getQualifier()#end">$entityName.name</protein-name>
			#if(!$entityName.synonyms.isEmpty())
			    #foreach($synName in $entityName.synonyms)
			    <protein-name qualifier="#if($synName.getQualifier())$synName.getQualifier()#end">$synName.name</protein-name>
			    #end
			#end
            </alternative-name>
    #end
        </alternative-name-list>
    #end

## ----------------- CLEAVED REGION NAMES ------------------------------
    #if($entry.overview.cleavedRegionNames)
        <chain-list>
            #foreach($entityName in $entry.overview.cleavedRegionNames)
                <chain>
                    <recommended-name>
                        <chain-name qualifier="#if($entityName.getQualifier())$entityName.getQualifier()#end">$entityName.name</chain-name>
                        #foreach($otherEntity in $entityName.getOtherRecommendedEntityNames())
                            <chain-name qualifier="#if($otherEntity.getQualifier())$otherEntity.getQualifier()#end">$otherEntity.name</chain-name>
                        #end
                    </recommended-name>
                    #if(!$entityName.synonyms.isEmpty())
                        <alternative-name-list>
                            #foreach($synonym in $entityName.synonyms)
                                <alternative-name>
                                    <chain-name qualifier="#if($synonym.getQualifier())$synonym.getQualifier()#end">$synonym.name</chain-name>
                                </alternative-name>
                            #end
                        </alternative-name-list>
                    #end
                </chain>
            #end
        </chain-list>
    #end

## ----------------- FUNCTIONAL REGION NAMES ---------------------------
    #if($entry.overview.functionalRegionNames)
        <region-list>
            #foreach($entityName in $entry.overview.functionalRegionNames)
                <region>
                    <recommended-name>
                        <region-name qualifier="#if($entityName.getQualifier())$entityName.getQualifier()#end">$entityName.name</region-name>
                        #foreach($otherEntity in $entityName.getOtherRecommendedEntityNames())
                            <region-name qualifier="#if($otherEntity.getQualifier())$otherEntity.getQualifier()#end">$otherEntity.name</region-name>
                        #end
                    </recommended-name>
                    #if(!$entityName.synonyms.isEmpty())
                        <alternative-name-list>
                            #foreach($synonym in $entityName.synonyms)
                                <alternative-name>
                                    <region-name qualifier="#if($synonym.getQualifier())$synonym.getQualifier()#end">$synonym.name</region-name>
                                </alternative-name>
                            #end
                        </alternative-name-list>
                    #end
                </region>
            #end
        </region-list>
    #end

    #if($entry.overview.isoformNames)
        <isoform-list>
            #foreach($entityName in $entry.overview.isoformNames)
                <isoform>
                    <recommended-name>
                        <isoform-name>$entityName.name</isoform-name>
                        #foreach($otherEntity in $entityName.getOtherRecommendedEntityNames())
                            <isoform-name>$otherEntity.name</isoform-name>
                        #end
                    </recommended-name>
                    #if(!$entityName.synonyms.isEmpty())
                        <alternative-name-list>
                            <alternative-name>
                                #foreach($synonym in $entityName.synonyms)
                                    <isoform-name>$synonym.name</isoform-name>
                                #end
                            </alternative-name>
                        </alternative-name-list>
                    #end
                </isoform>
            #end
        </isoform-list>
    #end

    </protein-name-list>
#end

## ----------------- GENE NAMES ----------------------------------------
#if($entry.overview.geneNames)
    <gene-list>
    #foreach($entityName in $entry.overview.geneNames)
        <gene>
        	#if($entityName.category.equals('ORF'))
            <gene-name type="ORF">$entityName.name</gene-name>
		    #else
            <gene-name type="primary">$entityName.name</gene-name>
            #end
            #foreach($synonym in $entityName.synonyms)
            #if($synonym.category.equals('ORF'))
                <gene-name type="ORF">$synonym.name</gene-name>
		    #else
		        <gene-name type="synonym">$synonym.name</gene-name>
            #end
            #end
        </gene>
    #end
    </gene-list>
#end
## ----------------- FAMILIES ------------------------------------------
#if($entry.overview.families.size() > 0)
    <family-list>
        #foreach($family in $entry.overview.families)
            #set($hierarchy=$NXUtils.getFamilyHierarchyFromRoot($family))
            #parse("family.xml.vm")
        #end
    </family-list>
#end
## ----------------- BIOPHYSICALCHEMICAL properties --------------------
#if($entry.overview.bioPhyChemProps.size() > 0)
    <biophysicochemical-properties>
        #foreach($prop in $entry.overview.bioPhyChemProps)
            <property name="$prop.getFirst()" value="$prop.getSecond()"/>
        #end 
    </biophysicochemical-properties>
#end
## ----------------- HISTORY ----------------------------------------
    <history>
    #if($entry.overview.history.nextprotIntegrationDate)
        <entry-history database="neXtProt" integrated="$entry.overview.history.getFormattedNextprotIntegrationDate()" updated="$entry.overview.history.getFormattedNextprotUpdateDate()"/>
    #end
    #if($entry.overview.history.uniprotIntegrationDate)
        <entry-history database="UniProtKB" integrated="$entry.overview.history.getFormattedUniprotIntegrationDate()" updated="$entry.overview.history.getFormattedUniprotUpdateDate()" version="$entry.overview.history.uniprotVersion" last-sequence-update="$entry.overview.history.lastSequenceUpdate" sequence-version="$entry.overview.history.sequenceVersion"/>
    #end
    </history>
</overview>
