<mapping-category category="peptide-mapping" hierarchy="mapping">
	#foreach($peptide in $entry.peptideMappings)
		<peptide-mapping>
			<evidence-list>
				#foreach($evidence in $peptide.evidences)
					<evidence evidence-code="ECO:0000006" is-negative="false" xref-internal-ref="$evidence.resourceId"  source-internal-ref="$evidence.assignedBy">
						<xref accession="$evidence.accession" database="$evidence.databaseName" /> 
					</evidence>
				#end
			</evidence-list>
		#set($target-isoform-list = $peptide.isoformSpecificity)
		#parse('target-isoform-list.xml.vm')	
		</peptide-mapping>
	#end
</mapping-category>


