<mapping-category category='peptide-mapping' hierarchy='mapping'>
	#foreach($peptide in $entry.peptideMappings)
		<peptide-mapping>
			<peptide accession='$peptide.peptideUniqueName' database='neXtProt' is-proteotypic='$peptide.isProteotypic()' is-natural='$peptide.isNatural()'/> 
##			#if($peptide.properties && $peptide.properties.size() > 0) 													
##				<property-list>
##					#foreach($prop in $peptide.properties)
##						<property name="$prop.name" value="$prop.value"/>
##					#end
##				</property-list>
##			#end
			#set($target-isoform-list = $peptide.isoformSpecificity)
			#parse('target-isoform-list.xml.vm')			
			<evidence-list>
				#foreach($evidence in $peptide.evidences)
					<evidence is-negative='false' evidence-code='ECO:0001096' resource-assoc-type='evidence' resource-internal-ref='$evidence.resourceId' resource-type='$evidence.resourceType' source-internal-ref='$evidence.assignedBy'/>
				#end
			</evidence-list>
		</peptide-mapping>
	#end
</mapping-category>
