<protein-sequence-list>
	#foreach($isoform in $entry.isoforms)
	<protein-sequence accession='$isoform.uniqueName' #if($isoform.isSwissProtDisplayedIsoform()) swissprot-displayed-isoform='true' #end>
	#if($isoform.mainEntityName)
	<entity-name isMain='true' type='$isoform.mainEntityName.type' qualifier='#if($isoform.mainEntityName.qualifier)$isoform.mainEntityName.qualifier#end'>
		<value>$isoform.mainEntityName.value</value>
		#if($isoform.synonyms.size() > 0)
		<synonym-list>
			#foreach($synonym in $isoform.synonyms)
              <entity-name is-main='false' type='$synonym.type' qualifier='#if($synonym.qualifier)$synonym.qualifier#end'>
                <value>$synonym.value</value>
              </entity-name>
			#end
        </synonym-list>
        #end
	</entity-name>
	#end
	<sequence>$isoform.sequence</sequence>
	</protein-sequence>
	#end
</protein-sequence-list>
