<publication type="$publication.publicationType.toLowerCase()" #if($publication.getPublicationDate())date="$publication.getTextDate()"#end #if($publication.isLocatedInPublicationMedium())	name="$publication.getPublicationMediumName()" #if($publication.isLocalizableInBookMedium()) #if($publication.isPublishedInScientificJournal()) volume="$publication.getVolume()" #end first="$publication.getFirstPage()" last="$publication.getLastPage()" #end #end internal-id="$publication.publicationId">
	<title>
	    <![CDATA[$publication.title]]>
	</title>
#if($publication.hasEditors())
    <editor-list>
		#foreach($editors in $publication.editors)
			<person name="$editors.lastName $StringUtils.getAuthorNameFormatter().formatForenameInitials($editors.foreName)"/>
		#end
    </editor-list>
#end
	<author-list>
		#foreach($author in $publication.authors)
			#if($author.isPerson())
				<person name="$author.lastName $StringUtils.getAuthorNameFormatter().formatForenameInitials($author.foreName)"/>
			#else
                <consortium name="$author.lastName"/>
			#end
		#end
	</author-list>
	#if($publication.dbXrefs.size() > 0)
    <xref-list>
		#foreach($xref in $publication.dbXrefs)
			#parse('xref.xml.vm')
		#end
    </xref-list>
	#end
</publication>
