<release>
      <nextprot>
        <database-release>$release.database</database-release>
        <application-release>$release.application</application-release>
      </nextprot>
      <datasources>
      	  #foreach($datasource in $releaseInfo.datasources)
 	     <datasource source='$datasource.source' description="$datasource.description" release="" last-import-date="">
 		     <datasource-url>
 		     #set($UNESCAPED_CDATA_DS_URL = $datasource.url)
 		     <![CDATA[ $UNESCAPED_CDATA_DS_URL ]]>
 		     </datasource-url>
 	     </datasource>
 	     #end
      </datasources>
</release>