<release>
      <nextprot>
        <database-release>$release.databaseRelease</database-release>
        <api-release>$release.apiRelease</api-release>
      </nextprot>
      <datasources>
      	  #foreach($rds in $release.datasources)
 	     <datasource source='$rds.source' description="$rds.description" release="$rds.releaseVersion" last-import-date="$rds.lastImportDate">
 		     <datasource-url>
 		     <![CDATA[$rds.url]]>
 		     </datasource-url>
 	     </datasource>
 	     #end
      </datasources>
</release>
