<release>
    <nextprot>
        <database-release>$versions.databaseRelease</database-release>
        <genome-assembly>GRCh38</genome-assembly>
        <api-release>$versions.apiRelease</api-release>
    </nextprot>
    <data-source-list>
        #foreach($rds in $dataSources.datasources)
            <data-source source='$rds.source' description="$rds.description" release="$rds.releaseVersion" last-import-date="$rds.lastImportDate">
                <url><![CDATA[$rds.url]]></url>
            </data-source>
        #end
    </data-source-list>
</release>