{
	"elapsedTime":${result.elapsedTime},
	"entity":"${result.alias}",
	"index":"${result.index}",
	"score":${result.score},
	"found":${result.found},
	"rows":${result.rows},
	"start":${result.start},
	"ids": [
		#foreach($field in $result.getFoundFacets("id"))
			"$field.get("name")"#if($velocityHasNext),#end
		#end]
}