<mapping-category category='srm-peptide-mapping' hierarchy='mapping'>
	#foreach($peptide in $entry.srmPeptideMappings)
		<peptide-mapping>
			<peptide accession='$peptide.peptideUniqueName' database='neXtProt' is-proteotypic='$peptide.isProteotypic()' is-synthetic='$peptide.isSynthetic()' /> 
##			#if($peptide.properties && $peptide.properties.size() > 0) 													
##				<properties>
##					#foreach($prop in $peptide.properties)
##						<property property-name="$prop.name" value="$prop.value"/>
##					#end
##				</properties>
##			#end
			#set($target-isoform-list = $peptide.isoformSpecificity)
			#parse('target-isoform-list.xml.vm')			
			<evidence-list>
				#foreach($evidence in $peptide.evidences)
					<evidence 
						is-negative='false' 
						evidence-code='ECO:0000248' 
						resource-assoc-type='evidence'
						resource-internal-ref='$evidence.resourceId'  
						resource-type='$evidence.resourceType'
						source-internal-ref='$evidence.assignedBy'
					/>
				#end
			</evidence-list>
		</peptide-mapping>
	#end
</mapping-category>
