<target-isoform-list>
	#foreach($isospec in $target-isoform-list.values())
		<target-isoform accession="$isospec.isoformAccession" specificity='$isospec.specificity' #if($isospec.name)name='$isospec.name'#end #if($isospec.hgvs)hgvs='$isospec.hgvs'#end>
		#if($isospec.isPositional())
            <location #if($NXUtils.isDisulfideBond($annotation)) type='disulfide-bond'
			#elseif($NXUtils.isCrossLink($annotation)) type='cross-link' #end>
				#if($isospec.getFirstPosition())<begin position='$isospec.getFirstPosition()' #else<begin status='unknown'#end/>
				#if($isospec.getLastPosition())<end position='$isospec.getLastPosition()' #else<end status='unknown'#end/>
            </location>
		#end
		</target-isoform>
	#end
</target-isoform-list>
