<target-isoform-list>
	#foreach($target in $target-isoform-list)
		<target-isoform accession='$target.isoformAccession'>
			<position-list>
				<position start="$target.getFirstPosition()" end="$target.getLastPosition()" #if($isospec.name)name='$isospec.name'#end/>
			</position-list>
		</target-isoform>
	#end
</target-isoform-list>
