#if(  $entry.getOverview().hasMainProteinName() )
    #set ( $protName = $entry.getOverview().getMainProteinName() )
#else
    #set ( $protName = "-" )
#end
#if(  $entry.getOverview().hasMainGeneName() )
    #set ( $geneName = $entry.getOverview().getMainGeneName() )
#else
    #set ( $geneName = "-" )
#end
#foreach($isoform in $entry.isoforms)
>nxp|$isoform.getUniqueName()|$geneName|$protName|$isoform.getMainEntityName().getValue()
$StringUtils.wrapText($isoform.getSequence(), 60)
#end
