<entry uniqueName='$entry.uniqueName'>
    #if($entry.overview) #parse('overview.xml.vm') #end
    #if($entry.annotations) #parse('annotation-list.xml.vm') #end
    #if($entry.keywords) #parse('keyword-list.xml.vm') #end
    #if($entry.interactions) #parse('interaction-list.xml.vm') #end	
    #if($entry.isoforms) #parse('protein-sequence-list.xml.vm') #end
    #if($entry.chromosomalLocations) #parse('chromosomal-location-list.xml.vm') #end
    #if($entry.genomicMappings) #parse('genomic-mapping-list.xml.vm') #end
    #if($entry.identifiers) #parse('identifier-list.xml.vm') #end
    #if($entry.publications) #parse('publication-list.xml.vm') #end
    #if($entry.xrefs) #parse('xref-list.xml.vm') #end
    #if($entry.peptideMappings) #parse('peptide-list.xml.vm') #end
	#if($entry.antibodyMappings) #parse('antibody-list.xml.vm') #end
</entry>
