<xref database="$xref.databaseName" category="$xref.databaseCategory" accession="$xref.accession" internal-id="$xref.getDbXrefId()">
	#if($xref.properties && $xref.properties.size() > 0) 													
		<properties>
			#foreach($prop in $xref.properties)
				<property propertyName="$prop.name" value="$prop.value"/>
			#end
		</properties>
	#end
	<url>
	#set($UNESCAPED_CDATA = $xref.getResolvedUrl())
	<![CDATA[$UNESCAPED_CDATA]]>
	</url>
</xref>