<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %5p %c{1} - %m%n" />
		</layout>
	</appender>

	<appender name="requestsFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="log/requests.log" />
		<param name="MaxFileSize" value="200MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %m%n" />
		</layout>
	</appender>

	<logger name="org.nextprot.api.isoform.mapper">
		<level value="WARN" />
	</logger>

	<logger name="org.nextprot.api.core.service.impl.SequenceUnicityServiceImpl">
		<level value="INFO" />
	</logger>


	<!-- root element must be below all others otherwise errors -->
	<root>
		<level value="INFO" />
		<appender-ref ref="consoleAppender" />
	</root>

</log4j:configuration>
