<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %5p %c{1} - %m%n" />
		</layout>
	</appender>

	<appender name="requestsFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="log/requests.log" />
		<param name="MaxFileSize" value="200MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %m%n" />
		</layout>
	</appender>

	<!-- Check documentaiton and options in here https://github.com/mp911de/logstash-gelf/#log4j -->
	<appender name="gelfFileAppender" class="biz.paluch.logging.gelf.log4j.GelfLogAppender">
		<param name="Host" value="udp:kant.sib.swiss" />
		<param name="Port" value="12201" />
		<param name="TimestampPattern" value="yyyy-MM-dd HH:mm:ss,SSSS"/>
		<param name="MaximumMessageSize" value="8192"/>
		<param name="Version" value="1.1" />
		<param name="Facility" value="java-test" />
		<param name="ExtractStackTrace" value="true" />
		<param name="FilterStackTrace" value="true" />
	</appender>


	<logger name="org.springframework">
		<level value="WARN" />
	</logger>

	<logger name="org.nextprot.api.solr">
		<level value="WARN" />
	</logger>
	<logger name="org.nextprot.api.web">
		<level value="WARN" />
	</logger>
	<logger name="net.sf.ehcache.constructs.web.GenericResponseWrapper">
		<level value="ERROR" />
	</logger>

	<logger name="org.nextprot.api.web.CorsFilter">
		<level value="INFO" />
	</logger>

	<logger name="org.nextprot.api.core.service.impl.ProteinExistenceInferenceServiceImpl">
		<level value="INFO" />
	</logger>

	<logger name="org.nextprot.api.rdf">
		<level value="INFO" />
	</logger>

	<logger name="net.sf.ehcache">
		<level value="INFO" />
	</logger>

	<logger name="org.apache.velocity">
		<level value="FATAL" />
	</logger>

	<logger name="org.nextprot.auth.server.controller">
		<level value="INFO" />
	</logger>

	<logger name="org.nextprot.api.isoform.mapper.service.impl.RegionIsoformMappingServiceImpl">
		<level value="INFO" />
	</logger>

	<logger name="org.nextprot.api.web.GoogleAnalyticsFilter">
		<level value="INFO" />
	</logger>

	<logger name="org.apache.solr">
		<level value="WARN" />
	</logger>

	<logger name="org.reflections.Reflections">
		<level value="WARN" />
	</logger>

	<logger name="org.apache.solr.client.solrj.impl.HttpSolrServer">
		<level value="INFO" />
	</logger>

	<logger name="com.hp.hpl.jena.sparql.engine.http">
		<level value="DEBUG" />
	</logger>

	<logger name="org.nextprot.api.tasks.solr.docfactory.entryfield.PublicationsSolrFieldCollector">
		<level value="WARN" />
	</logger>
	
	<logger name="org.nextprot.api.tasks.solr.docfactory.entryfield.CVSolrFieldCollector">
		<level value="DEBUG" />
	</logger>

	<logger name="org.nextprot.api.etl">
		<level value="INFO" />
	</logger>

	<logger name="org.nextprot.api.core.dao.IsoformDAO" additivity="false">
		<level value="INFO" />
	</logger>

	<logger name="org.apache.http">
		<level value="INFO" />
	</logger>

	<logger name="org.nextprot.api.core.aop.InstrumentationAspect" additivity="false">
		<level value="INFO" />
		<appender-ref ref="requestsFileAppender" />
	</logger>



	<!-- root element must be below all others otherwise errors -->
	<root>
		<level value="INFO" />
		<appender-ref ref="consoleAppender" />
		
	<!-- please uncomment the appender below only once you know how to avoid getting an error on each spring startup
		<appender-ref ref="gelfFileAppender" />
	-->
	</root>

</log4j:configuration>
