#if($prefix)
#parse("turtle/prefix.ttl.vm")
#end
#
# Define protein interaction
# 
:ProteinInteraction
      rdf:type owl:Class ;
      rdfs:comment "Protein to protein interactions"^^xsd:string ;
      rdfs:subClassOf owl:Thing;
      .


