 
# Properties already partially defined
 
# nothing to add for property: :quality
 
# nothing to add for property: :existence
 
# nothing to add for property: :name
 
# nothing to add for property: :recommendedName
 
# nothing to add for property: :alternativeName
 
# nothing to add for property: :orfName
 
# nothing to add for property: :otherName
 
# nothing to add for property: :familyName
 
# nothing to add for property: :positionalAnnotation
 
# nothing to add for property: :processingProduct
 
# nothing to add for property: :topology
 
# nothing to add for property: :region
 
# nothing to add for property: :site
 
# nothing to add for property: :ptm
 
# nothing to add for property: :secondaryStructure
 
# nothing to add for property: :mapping
 
# nothing to add for property: :generalAnnotation
 
# nothing to add for property: :function
 
# nothing to add for property: :interaction
 
# nothing to add for property: :cellularComponent
 
# nothing to add for property: :expression
 
# nothing to add for property: :medical
 
# nothing to add for property: :keyword
 
# nothing to add for property: :domainInfo
 
# nothing to add for property: :ptmInfo
 
# nothing to add for property: :enzymeClassification
 
# nothing to add for property: :pdbMapping
 
# nothing to add for property: :peptideMapping
 
# nothing to add for property: :srmPeptideMapping
 
# nothing to add for property: :antibodyMapping
 
# nothing to add for property: :interactionMapping
 
# nothing to add for property: :nonConsecutiveResidue
 
# nothing to add for property: :nonTerminalResidue
 
# nothing to add for property: :initiatorMethionine
 
# nothing to add for property: :signalPeptide
 
# nothing to add for property: :peroxisomeTransitPeptide
 
# nothing to add for property: :mitochondrialTransitPeptide
 
# nothing to add for property: :propeptide
 
# nothing to add for property: :matureProtein
 
# nothing to add for property: :transmembraneRegion
 
# nothing to add for property: :intramembraneRegion
 
# nothing to add for property: :topologicalDomain
 
# nothing to add for property: :domain
 
# nothing to add for property: :repeat
 
# nothing to add for property: :calciumBindingRegion
 
# nothing to add for property: :zincFingerRegion
 
# nothing to add for property: :dnaBindingRegion
 
# nothing to add for property: :nucleotidePhosphateBindingRegion
 
# nothing to add for property: :coiledCoilRegion
 
# nothing to add for property: :shortSequenceMotif
 
# nothing to add for property: :compositionallyBiasedRegion
 
# nothing to add for property: :miscellaneousRegion
 
# nothing to add for property: :interactingRegion
 
# nothing to add for property: :activeSite
 
# nothing to add for property: :metalBindingSite
 
# nothing to add for property: :bindingSite
 
# nothing to add for property: :cleavageSite
 
# nothing to add for property: :miscellaneousSite
 
# nothing to add for property: :selenocysteine
 
# nothing to add for property: :lipidationSite
 
# nothing to add for property: :glycosylationSite
 
# nothing to add for property: :crossLink
 
# nothing to add for property: :disulfideBond
 
# nothing to add for property: :modifiedResidue
 
# nothing to add for property: :helix
 
# nothing to add for property: :turn
 
# nothing to add for property: :betaStrand
 
# nothing to add for property: :variant
 
# nothing to add for property: :mutagenesis
 
# nothing to add for property: :sequenceConflict
 
# nothing to add for property: :diseaseRelatedVariant
 
# nothing to add for property: :variantInfo
 
# nothing to add for property: :induction
 
# nothing to add for property: :miscellaneous
 
# nothing to add for property: :caution
 
# nothing to add for property: :sequenceCaution
 
# nothing to add for property: :uniprotKeyword
 
# nothing to add for property: :functionInfo
 
# nothing to add for property: :catalyticActivity
 
# nothing to add for property: :cofactor
 
# nothing to add for property: :cofactorInfo
 
# nothing to add for property: :activityRegulation
 
# nothing to add for property: :transportActivity
 
# nothing to add for property: :pathway
 
# nothing to add for property: :goMolecularFunction
 
# nothing to add for property: :goBiologicalProcess
 
# nothing to add for property: :smallMoleculeInteraction
 
# nothing to add for property: :interactionInfo
 
# nothing to add for property: :binaryInteraction
 
# nothing to add for property: :subcellularLocation
 
# nothing to add for property: :subcellularLocationNote
 
# nothing to add for property: :goCellularComponent
 
# nothing to add for property: :developmentalStageInfo
 
# nothing to add for property: :expressionInfo
 
# nothing to add for property: :expressionProfile
 
# nothing to add for property: :disease
 
# nothing to add for property: :allergen
 
# nothing to add for property: :pharmaceutical
 
# nothing to add for property: :biophysicochemicalProperty
 
# nothing to add for property: :absorptionMax
 
# nothing to add for property: :kineticKM
 
# nothing to add for property: :kineticVmax
 
# nothing to add for property: :kineticNote
 
# nothing to add for property: :phDependence
 
# nothing to add for property: :redoxPotential
 
# nothing to add for property: :temperatureDependence
 
# nothing to add for property: :electrophysiologicalParameter
 
# nothing to add for property: :genericPhenotype
 
# nothing to add for property: :phenotypicVariation
 
# nothing to add for property: :evidence
 
# nothing to add for property: :negativeEvidence
 
# nothing to add for property: :assignedBy
 
# nothing to add for property: :provenance
 
# nothing to add for property: :accession
 
# nothing to add for property: :category
 
# nothing to add for property: :experimentalContext
 
# nothing to add for property: :cellLine
 
# nothing to add for property: :developmentalStage
 
# nothing to add for property: :disease
 
# nothing to add for property: :tissue
 
 
# Properties not defined at all
 
# added with rdfhelp data for property: :entryAnnotationId
:entryAnnotationId
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "entry annotation id"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain [ a owl:Class ; owl:unionOf (:GeneralAnnotation :PositionalAnnotation ) ; ] ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :end
:end
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "end"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :PositionalAnnotation ;
    rdfs:range xsd:integer ;
    . 
 
# added with rdfhelp data for property: :start
:start
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "start"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :PositionalAnnotation ;
    rdfs:range xsd:integer ;
    . 
 
# added with rdfhelp data for property: :antibodyName
:antibodyName
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "antibody name"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :AntibodyMapping ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :antibodyUnicity
:antibodyUnicity
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "antibody unicity"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :AntibodyMapping ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :interactant
:interactant
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "interactant"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain [ a owl:Class ; owl:unionOf (:BinaryInteraction :SmallMoleculeInteraction :Cofactor :InteractionMapping) ; ] ;
    rdfs:range [ a owl:Class ; owl:unionOf (:Xref :Entry :Isoform) ; ] ;
    . 
 
# added with rdfhelp data for property: :selfInteraction
:selfInteraction
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "self interaction"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :BinaryInteraction ;
    rdfs:range xsd:boolean ;
    . 
 
# added with rdfhelp data for property: :term
:term
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "term"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain [ a owl:Class ; owl:unionOf (:GeneralAnnotation :PositionalAnnotation ) ; ] ;
    rdfs:range :Term ;
    . 
 
# added with rdfhelp data for property: :impactedObject
:impactedObject
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "impacted object"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain [ a owl:Class ; owl:unionOf (:DiseaseRelatedVariant :PhenotypicVariation) ; ] ;
    rdfs:range [ a owl:Class ; owl:unionOf (:MammalianPhenotype :GoMolecularFunction :ElectrophysiologicalParameter :GoBiologicalProcess :GoCellularComponent :ProteinProperty :BinaryInteraction :Disease) ; ] ;
    . 
 
# added with rdfhelp data for property: :classifiedWith
:classifiedWith
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "classified with"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Entry ;
    rdfs:range :EnzymeClassificationCv ;
    . 
 
# added with rdfhelp data for property: :gene
:gene
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "gene"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Entry ;
    rdfs:range :Gene ;
    . 
 
# added with rdfhelp data for property: :history
:history
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "history"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Entry ;
    rdfs:range :History ;
    . 
 
# added with rdfhelp data for property: :isoform
:isoform
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "isoform"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Entry ;
    rdfs:range :Isoform ;
    . 
 
# added with rdfhelp data for property: :isoformCount
:isoformCount
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "isoform count"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Entry ;
    rdfs:range xsd:integer ;
    . 
 
# added with rdfhelp data for property: :reference
:reference
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "reference"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain [ a owl:Class ; owl:unionOf (:Evidence :Entry) ; ] ;
    rdfs:range [ a owl:Class ; owl:unionOf (:Xref :Identifier :Publication) ; ] ;
    . 
 
# added with rdfhelp data for property: :swissprotPage
:swissprotPage
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "swissprot page"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Entry ;
    rdfs:range rdfs:Resource ;
    . 
 
# added with rdfhelp data for property: :alleleCount
:alleleCount
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "allele count"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Evidence ;
    rdfs:range xsd:integer ;
    . 
 
# added with rdfhelp data for property: :alleleFrequency
:alleleFrequency
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "allele frequency"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Evidence ;
    rdfs:range xsd:double ;
    . 
 
# added with rdfhelp data for property: :alleleNumber
:alleleNumber
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "allele number"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Evidence ;
    rdfs:range xsd:integer ;
    . 
 
# added with rdfhelp data for property: :antibodiesAcc
:antibodiesAcc
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "antibodies acc"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Evidence ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :evidenceCode
:evidenceCode
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "evidence code"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Evidence ;
    rdfs:range :EvidenceCodeOntologyCv ;
    . 
 
# added with rdfhelp data for property: :expressionLevel
:expressionLevel
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "expression level"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Evidence ;
    rdfs:range [ a owl:Class ; owl:unionOf (:PositiveExpressionLevel :NegativeExpressionLevel) ; ] ;
    . 
 
# added with rdfhelp data for property: :expressionScore
:expressionScore
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "expression score"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Evidence ;
    rdfs:range xsd:double ;
    . 
 
# added with rdfhelp data for property: :fromXref
:fromXref
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "from xref"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Evidence ;
    rdfs:range :Database ;
    . 
 
# added with rdfhelp data for property: :goQualifier
:goQualifier
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "go qualifier"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Evidence ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :homozygoteCount
:homozygoteCount
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "homozygote count"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Evidence ;
    rdfs:range xsd:integer ;
    . 
 
# added with rdfhelp data for property: :integrationLevel
:integrationLevel
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "integration level"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Evidence ;
    rdfs:range :AntibodyIntegrationLevel ;
    . 
 
# added with rdfhelp data for property: :intensity
:intensity
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "intensity"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Evidence ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :interactionDetectionMethod
:interactionDetectionMethod
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "interaction detection method"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Evidence ;
    rdfs:range :PsiMiCv ;
    . 
 
# added with rdfhelp data for property: :negative
:negative
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "negative"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Evidence ;
    rdfs:range xsd:boolean ;
    . 
 
# added with rdfhelp data for property: :numberOfExperiments
:numberOfExperiments
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "number of experiments"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Evidence ;
    rdfs:range xsd:integer ;
    . 
 
# added with rdfhelp data for property: :metadata
:metadata
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "metadata"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :ExperimentalContext ;
    rdfs:range  :Publication ;
    . 
 
# added with rdfhelp data for property: :description
:description
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "description"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :FamilyName ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :band
:band
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "band"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Gene ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :begin
:begin
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "begin"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Gene ;
    rdfs:range xsd:integer ;
    . 
 
# added with rdfhelp data for property: :bestGeneMapping
:bestGeneMapping
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "best gene mapping"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Gene ;
    rdfs:range :Entry ;
    . 
 
# added with rdfhelp data for property: :chromosome
:chromosome
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "chromosome"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Gene ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :length
:length
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "length"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain [ a owl:Class ; owl:unionOf (:Gene :ProteinSequence) ; ] ;
    rdfs:range xsd:integer ;
    . 
 
# added with rdfhelp data for property: :strand
:strand
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "strand"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Gene ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :integrated
:integrated
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "integrated"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :History ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :lastSequenceUpdate
:lastSequenceUpdate
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "last sequence update"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :History ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :sequenceVersion
:sequenceVersion
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "sequence version"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :History ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :updated
:updated
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "updated"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :History ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :version
:version
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "version"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :History ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :canonicalIsoform
:canonicalIsoform
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "canonical isoform"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Isoform ;
    rdfs:range xsd:boolean ;
    . 
 
# added with rdfhelp data for property: :detectedExpression
:detectedExpression
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "detected expression"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Isoform ;
    rdfs:range :ExpressionProfile ;
    . 
 
# added with rdfhelp data for property: :highExpression
:highExpression
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "high expression"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Isoform ;
    rdfs:range :ExpressionProfile ;
    . 
 
# added with rdfhelp data for property: :lowExpression
:lowExpression
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "low expression"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Isoform ;
    rdfs:range :ExpressionProfile ;
    . 
 
# added with rdfhelp data for property: :mediumExpression
:mediumExpression
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "medium expression"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Isoform ;
    rdfs:range :ExpressionProfile ;
    . 
 
# added with rdfhelp data for property: :proteoform
:proteoform
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "proteoform"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Isoform ;
    rdfs:range :Proteoform ;
    . 
 
# added with rdfhelp data for property: :sequence
:sequence
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "sequence"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Isoform ;
    rdfs:range :ProteinSequence ;
    . 
 
# added with rdfhelp data for property: :swissprotDisplayed
:swissprotDisplayed
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "swissprot displayed"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Isoform ;
    rdfs:range xsd:boolean ;
    . 
 
# added with rdfhelp data for property: :undetectedExpression
:undetectedExpression
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "undetected expression"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Isoform ;
    rdfs:range :ExpressionProfile ;
    . 
 
# added with rdfhelp data for property: :author
:author
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "author"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Publication ;
    rdfs:range [ a owl:Class ; owl:unionOf (:Person :Consortium) ; ] ;
    . 
 
# added with rdfhelp data for property: :city
:city
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "city"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Publication ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :editor
:editor
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "editor"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Publication ;
    rdfs:range :Person ;
    . 
 
# added with rdfhelp data for property: :firstPage
:firstPage
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "first page"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Publication ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :from
:from
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "from"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Publication ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :issue
:issue
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "issue"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Publication ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :journal
:journal
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "journal"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Publication ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :lastPage
:lastPage
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "last page"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Publication ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :pubType
:pubType
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "pub type"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Publication ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :publisher
:publisher
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "publisher"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Publication ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :title
:title
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "title"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Publication ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :volume
:volume
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "volume"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Publication ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :year
:year
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "year"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Publication ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :hgvs
:hgvs
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "hgvs"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain [ a owl:Class ; owl:unionOf (:Mutagenesis :Variant) ; ] ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :original
:original
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "original"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain [ a owl:Class ; owl:unionOf (:SequenceConflict :Mutagenesis :Variant) ; ] ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :variation
:variation
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "variation"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain [ a owl:Class ; owl:unionOf (:SequenceConflict :Mutagenesis :Variant) ; ] ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :method
:method
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "method"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :PdbMapping ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :peptideName
:peptideName
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "peptide name"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain [ a owl:Class ; owl:unionOf (:SrmPeptideMapping :PeptideMapping) ; ] ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :peptideSet
:peptideSet
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "peptide set"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :PeptideMapping ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :peptideUnicity
:peptideUnicity
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "peptide unicity"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain [ a owl:Class ; owl:unionOf (:SrmPeptideMapping :PeptideMapping) ; ] ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :proteotypic
:proteotypic
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "proteotypic"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain [ a owl:Class ; owl:unionOf (:SrmPeptideMapping :PeptideMapping) ; ] ;
    rdfs:range xsd:boolean ;
    . 
 
# added with rdfhelp data for property: :suffix
:suffix
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "suffix"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :Person ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :level
:level
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "level"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :ProteinExistence ;
    rdfs:range xsd:integer ;
    . 
 
# added with rdfhelp data for property: :chain
:chain
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "chain"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :ProteinSequence ;
    rdfs:range xsd:string ;
    . 
 
# added with rdfhelp data for property: :isoelectricPoint
:isoelectricPoint
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "isoelectric point"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :ProteinSequence ;
    rdfs:range xsd:double ;
    . 
 
# added with rdfhelp data for property: :molecularWeight
:molecularWeight
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "molecular weight"^^xsd:string ;
    rdf:type  owl:DatatypeProperty ;
    rdfs:domain :ProteinSequence ;
    rdfs:range xsd:double ;
    . 
 
# added with rdfhelp data for property: :modification
:modification
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "additional-properties-def.ttl.vm"^^xsd:string ;
    rdfs:label "modification"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:range [ a owl:Class ; owl:unionOf (:Mutagenesis :Variant) ; ] ;
    rdfs:domain :Proteoform ;
    . 
 
 
