#foreach($chromosomalLocation in $entry.chromosomalLocations)
#set( $geneName = $StringUtils.slug($chromosomalLocation.getAccession()) )
#if( $StringUtils.isVirtualGeneAccession($geneName) )
#set( $geneName = $geneName + "_" + $entry.getUniqueName() )
#end
entry:$entry.getUniqueName() :gene gene:$geneName.
gene:$geneName a :Gene;
    :name "$chromosomalLocation.getRecommendedName()"^^xsd:string;
    :band "$chromosomalLocation.getBand()"^^xsd:string; 
    :strand "$chromosomalLocation.getStrand()"^^xsd:string;
    :chromosome "$chromosomalLocation.getChromosome()"^^xsd:string;
    :begin "$chromosomalLocation.getFirstPosition()"^^xsd:integer; 
    :end "$chromosomalLocation.getLastPosition()"^^xsd:integer;  
    :length "$chromosomalLocation.getLength()"^^xsd:integer;  
##    :bestGeneLocation "$chromosomalLocation.isBestGeneLocation()"^^xsd:boolean; 
#if($chromosomalLocation.isBestGeneLocation())
    :bestGeneMapping entry:$entry.getUniqueName(); 
#end
    .
#end
