#if(($entry.keywords && $entry.keywords.size()>0) || ($entry.enzymes && $entry.enzymes.size()>0))
# Classifications (Keywords and Enzymes) 
entry:$entry.getUniqueName() 
#foreach($keyword in $entry.keywords)
  :classifiedWith cv:$StringUtils.slug($keyword.accession);
#end
#foreach($enzyme in $entry.enzymes)
  :classifiedWith cv:$StringUtils.slug($enzyme.accession);
#end
  .
#end
