#if($entityName.isMain())
  :recommendedName [
    rdf:type :Name;
    :$StringUtils.toCamelCase($entityName.getComposedName(),true) "$StringUtils.clean($entityName.name)"^^xsd:string;
  ];
#else
  :alternativeName [
    rdf:type :Name;
    #set($UNESCAPED_CDATA_SYNONYM = $entityName.name)
    :$StringUtils.toCamelCase($entityName.getComposedName(),true) "$StringUtils.clean($UNESCAPED_CDATA_SYNONYM)"^^xsd:string;
  ];
#end
#foreach($synonym in $entityName.synonyms)
#set($entityName = $synonym)
#parse('turtle/entity-name.ttl.vm')
#end
