## ----------------------------------------------------------------------------
## not used anymore pam, 03.06.2022, replaced with macro in overview.ttl.vm
## ----------------------------------------------------------------------------

#if($entityName.isMain())
##Create ProteineName individual - *** TODO:Create prefix name: ***
name:entryNameRec_$entityName.id rdf:type :$className.
#set($qualifier = $StringUtils.toCamelCase($entityName.getComposedName(),true))
#if($qualifier == "shortName")
## CREATE SHORT NAME
#if($parentName != 0)
name:entryNameShort_$entityName.id rdf:type :ShortName;
  rdfs:label "$StringUtils.clean($entityName.name)"^^xsd:string.
## RELATE Short name to ProteinName
##name:entryNameRec_$parentName.id :hasShortName name:entryNameShort_$entityName.id.
$parentUri :hasShortName name:entryNameShort_$entityName.id.

#else
name:entryNameShort_$entityName.id rdf:type :ShortName;
  rdfs:label "$StringUtils.clean($entityName.name)"^^xsd:string.
  ## RELATE Short name to ProteinName
name:entryNameRec_$entityName.id :hasShortName name:entryNameShort_$entityName.id.
entry:$entry.getUniqueName() :recommendedName name:entryNameRec_$entityName.id.
#end

#elseif($qualifier == "fullName")
name:entryNameRec_$entityName.id rdfs:label "$StringUtils.clean($entityName.name)"^^xsd:string.

entry:$entry.getUniqueName() :recommendedName name:entryNameRec_$entityName.id.

#set($parentUri = "name:entryNameRec_$entityName.id")
#end
##Relate the entry with the name
##entry:$entry.getUniqueName() :recommendedName name:entryNameRec$entityName.id;
  ##:recommendedName [
  ##  rdf:type :$className;
  ##  :$StringUtils.toCamelCase($entityName.getComposedName(),true) "$StringUtils.clean($entityName.name)"^^xsd:string;
  ##];
#else
##Create ProteineName individual - *** TODO:Create prefix name: ***
##name:entryNameAlt$altNamesCount.toString()_$entityName.id rdf:type :$className.
##:alternativeName ##rdf:type :$className;
#set($UNESCAPED_CDATA_SYNONYM = $entityName.name)
#set($nameType = $StringUtils.toCamelCase($entityName.getComposedName(),true))
#if($nameType == "fullName")

name:entryNameAlt$altNamesCount.toString()_$entityName.id rdf:type :$className.
name:entryNameAlt$altNamesCount.toString()_$entityName.id rdfs:label "$StringUtils.clean($UNESCAPED_CDATA_SYNONYM)"^^xsd:string.

entry:$entry.getUniqueName() :alternativeName name:entryNameAlt$altNamesCount.toString()_$entityName.id.
#set($parentUri = "name:entryNameAlt$altNamesCount.toString()_$entityName.id")

#elseif($nameType == "shortName")
##Short Alternative Name
#if($parentName != 0)
##PARENT NAME NOT NULL and PARENT_NAME: $StringUtils.clean($parentName.name)

name:entryNameShortAlt$altNamesCount.toString()_$entityName.id rdf:type :ShortName;
  rdfs:label "$StringUtils.clean($UNESCAPED_CDATA_SYNONYM)"^^xsd:string.

##name:entryNameAlt$altNamesCount.toString()_$parentName.id :hasShortName name:entryNameShortAlt$altNamesCount.toString()_$entityName.id.
$parentUri :hasShortName name:entryNameShortAlt$altNamesCount.toString()_$entityName.id.
##entry:$entry.getUniqueName() :alternativeName name:entryNameAlt$altNamesCount.toString()_$entityName.id.

#else
name:entryNameShortAlt$altNamesCount.toString()_$entityName.id rdf:type :ShortName;
  rdfs:label "$StringUtils.clean($UNESCAPED_CDATA_SYNONYM)"^^xsd:string.

name:entryNameAlt$altNamesCount.toString()_$entityName.id :hasShortName name:entryNameShortAlt$altNamesCount.toString()_$entityName.id.

entry:$entry.getUniqueName() :alternativeName name:entryNameAlt$altNamesCount.toString()_$entityName.id.

#end
#set($altNamesCount = $altNamesCount + 1)

#else
name:entryNameShortAlt$altNamesCount.toString()_$entityName.id :$StringUtils.toCamelCase($entityName.getComposedName(),true) "$StringUtils.clean($UNESCAPED_CDATA_SYNONYM)"^^xsd:string.
#set($altNamesCount = $altNamesCount + 1)
#end
##];
#end
#foreach($synonym in $entityName.synonyms)
##SYNONYM
#set($parentName = $entityName)
#set($entityName = $synonym)
#parse('turtle/entity-name.ttl.vm')
##END SYNONYM
#end
