
# - - - - - - - -
# Xrefs 
# - - - - - - - -

#foreach($xref in $entry.xrefs)
entry:$entry.uniqueName :reference [
  a :Xref ;
  :accession "$xref.accession"^^xsd:string ;
  :provenance db:$StringUtils.slug($xref.databaseName) ; 
  ]
.

#end


# - - - - - - - -
# Identifiers
# - - - - - - - -

#foreach($ident in $entry.identifiers)
entry:$entry.uniqueName :reference [
  a :Identifier ;
  :accession "$ident.name"^^xsd:string ;
  :provenance db:$StringUtils.slug($ident.provenance) ;
  ]
.

#end

