context:$ec.getContextId() a :ExperimentalContext;
#if ($ec.getTissueAC())
  :tissue cv:$StringUtils.slug($ec.getTissueAC());
#end
#if ($ec.getDevelopmentalStageAC())
  :developmentalStage cv:$StringUtils.slug($ec.getDevelopmentalStageAC());
#end
#if ($ec.getCellLineAC())
  :cellLine cv:$StringUtils.slug($ec.getCellLineAC());
#end
#if ($ec.getDiseaseAC())
  :disease cv:$StringUtils.slug($ec.getDiseaseAC());
#end
#if ($ec.getOrganelleAC())
  :organelle cv:$StringUtils.slug($ec.getOrganelleAC());
#end
#if ($ec.getMetadataId())
  :metadata publication:$ec.getMetadataId();
#end
  .      
