context:$ec.getContextId() a :ExperimentalContext;
#if ($ec.getTissueAC())
  :tissue term:$StringUtils.slug($ec.getTissueAC());
#end
#if ($ec.getDetectionMethodAC())
  :detectionMethod term:$StringUtils.slug($ec.getDetectionMethodAC());
#end
#if ($ec.getDevelopmentalStageAC())
  :developmentalStage term:$StringUtils.slug($ec.getDevelopmentalStageAC());
#end
#if ($ec.getCellLineAC())
  :cellLine term:$StringUtils.slug($ec.getCellLineAC());
#end
#if ($ec.getDiseaseAC())
  :disease term:$StringUtils.slug($ec.getDiseaseAC());
#end
#if ($ec.getOrganelleAC())
  :organelle term:$StringUtils.slug($ec.getOrganelleAC());
#end
#if ($ec.getMetadataAC())
  :metadata publication:$StringUtils.slug($ec.getMetadataAC());
#end
  .      
