annotation:$annotation-uri a :$annotation-type;
  :entryAnnotationId "$annotation.getUniqueName()"^^xsd:string;
  :quality :$annotation.getQualityQualifier();
  :isoformSpecificity :$annotation.getSpecificityForIsoform($isoform-name);
#if($annotation.getCvTermName())
  :in term:$StringUtils.slug($annotation.getCvTermAccessionCode());
#end
#if($annotation.getDescription())
#if(! $annotation.getVariant())
  rdfs:comment "$StringUtils.clean($annotation.getDescription())"^^xsd:string;
#end
#end
#foreach($prop in $annotation.getProperties())
## don't remove the presetting to false in next line otherewise problems (pam)
#set($pmodel=false)
#set($pmodel=$annotation.getPropertyApiModel($prop))
#if($pmodel)
  :$pmodel.getApiName() "$prop.getValue()"^^xsd:$pmodel.getRdfDataType();
#end
#end
#if($annotation.getVariant())
#set($variant=$annotation.getVariant()) 
  :original "$variant.getOriginal()"^^xsd:string;
  :variation "$variant.getVariant()"^^xsd:string;
#if($variant.getDescription())
  rdfs:comment "$variant.getDescription()"^^xsd:string;
#end    
#if($variant.getDiseaseTerms())
#foreach($term in $variant.getDiseaseTerms())
  :disease term:$term;
#end
#end    
#end
#if($annotation.getStartPositionForIsoform($isoform-name) != 0)
  :start "$annotation.getStartPositionForIsoform($isoform-name)"^^xsd:integer;
#end
#if($annotation.getEndPositionForIsoform($isoform-name) != 0)
  :end "$annotation.getEndPositionForIsoform($isoform-name)"^^xsd:integer;
#end
  .     
#parse("turtle/isoform-annotation-evidence-list.ttl.vm")
