## Iterates through the annotations and only select the ones that belong to the current isoform

# Isoform information

isoform:$isoform-name a :Isoform;
  :sequence [
    rdf:type :ProteinSequence ; 
    :isoelectricPoint "$isoform.getIsoelectricPointAsString()"^^xsd:double ;
    :molecularWeight "$isoform.getMassAsString()"^^xsd:double ;
    :length "$isoform.getSequenceLength()"^^xsd:integer ;
##    :md5    "$isoform.getMd5()"^^xsd:string ;
    :chain  "$isoform.getSequence()"^^xsd:string ;
  ];
  .

# Annotations

#foreach($annotation in $entry.getAnnotationsByIsoform($isoform-name))
#set($annotation-uri =  $isoform-name + "-" + $annotation.uniqueName)
#set($annotation-type = $annotation.apiTypeName)
#foreach($parentPredicate in $annotation.parentPredicates)
isoform:$isoform-name :$parentPredicate annotation:$annotation-uri .
#end
isoform:$isoform-name :$annotation.rdfPredicate annotation:$annotation-uri .
#if($annotation.getConsensusExpressionLevelPredicat())
isoform:$isoform-name :$annotation.getConsensusExpressionLevelPredicat() annotation:$annotation-uri .
#end
#parse("turtle/isoform-annotation.ttl.vm")
#end
