## Iterates through the annotations and only select the ones that belong to the current isoform

# Isoform information

isoform:$isoform-name a :Isoform;
  :sequence [
    rdf:type :ProteinSequence ; 
    :isoelectricPoint "$isoform.getIsoelectricPointAsString()"^^xsd:double ;
    :molecularWeight "$isoform.getMassAsString()"^^xsd:double ;
    :length "$isoform.getSequenceLength()"^^xsd:integer ;
##    :md5    "$isoform.getMd5()"^^xsd:string ;
    :chain  "$isoform.getSequence()"^^xsd:string ;
  ];
  .

# Annotations

#foreach($annotation in $entry.getAnnotationsByIsoform($isoform-name))
#set($annotation-uri =  $isoform-name + "-" + $annotation.uniqueName)
#set($annotation-type = $annotation.apiTypeName)
#foreach($parentPredicate in $annotation.parentPredicates)
isoform:$isoform-name :$parentPredicate annotation:$annotation-uri .
#end
isoform:$isoform-name :$annotation.rdfPredicate annotation:$annotation-uri .
## special case for expression
#if($annotation.isExpressionLevelDetected().isPresent())
isoform:$isoform-name #if($annotation.isExpressionLevelDetected().get()):detectedExpression#else:undetectedExpression#end annotation:$annotation-uri .
#end

##if($annotation.getConsensusExpressionLevelPredicat())
## isoform:$isoform-name :$annotation.getConsensusExpressionLevelPredicat() annotation:$annotation-uri .
##end

#parse("turtle/isoform-annotation.ttl.vm")
#end

# Proteoform set
#set($pfannot = $NXUtils.getProteoformAnnotationsMap($entry,$isoform-name))
#foreach($pf in $pfannot.keySet())
iso: $pf.parentIsoformName - id: $pf.id - label: $pf.label - components: $pf.components
#foreach($annot in $pfannot.get($pf))
annot_unique_name: $annot.uniqueName
#end
#end

# Proteoform Annotations
#set($subjectNameMap = $NXUtils.getSubjectProteoformAnnotationsMap($entry))
#foreach($subj in $subjectNameMap.keySet())
xxxyyy $subj
#end

