####parse('turtle/overview.ttl.vm')
####parse('turtle/classifications-list.ttl.vm')
####parse('turtle/chromosomal-location-list.ttl.vm')
##parse('genomic-mapping-list.ttl.vm')	
##parse('identifier-list.ttl.vm')
##parse('publication-list.ttl.vm')
##parse('turtle/xref-list.ttl.vm')
#parse('turtle/isoform-annotation-list.ttl.vm')
#parse('turtle/isoform-interaction-list.ttl.vm')
