annotation:$annotation-uri a :$annotation-type;
  :entryAnnotationId "$annotation.getUniqueName()"^^xsd:string;
#if($annotation.getQualityQualifier())
  :quality :$annotation.getQualityQualifier();
#end
#if($annotation.getCvTermName())
  :term cv:$StringUtils.slug($annotation.getCvTermAccessionCode());
#end
#if($annotation.getDescription())
#if(! $annotation.getVariant())
  rdfs:comment "$StringUtils.clean($annotation.getDescription())"^^xsd:string;
#end
#end

#if($annotation.getBioObject())
#set($bioObject = $annotation.getBioObject())
#set($bioType = $bioObject.getBioType().toString())
#set($resourceType = $bioObject.getResourceType().toString())  
#if($resourceType == "EXTERNAL")
  :interactant [
    rdf:type :Xref ;
    :provenance db:$bioObject.database ;
    :accession "$bioObject.accession"^^xsd:string ;
#set($UNESCAPED_CDATA=false)
#set($UNESCAPED_CDATA = $bioObject.getPropertyValue("chemical name"))
#if($UNESCAPED_CDATA)
    rdfs:label "$UNESCAPED_CDATA"^^xsd:string ;
#end
#set($UNESCAPED_CDATA=false)
#set($UNESCAPED_CDATA = $bioObject.getPropertyValue("geneName"))
#if($UNESCAPED_CDATA)
    rdfs:label "$UNESCAPED_CDATA"^^xsd:string ;
#end
#set($UNESCAPED_CDATA=false)
#if($bioType == "PROTEIN")
    skos:exactMatch uniprot:$bioObject.accession ;
#end ## biotype
#if($bioType == "CHEMICAL")
#if($bioObject.database == "ChEBI")
   skos:exactMatch chebi:$StringUtils.slug($bioObject.accession) ;
#end
#if($bioObject.database == "DrugBank")
   skos:exactMatch drugbankdrugs:$bioObject.accession ;
#end
#end ## biotype

  ] ;
#elseif($resourceType == "INTERNAL")
#if($bioType == "PROTEIN")
  :interactant entry:$bioObject.accession ;
#elseif($bioType == "PROTEIN_ISOFORM")
  :interactant isoform:$bioObject.accession ;
#elseif($bioType == "ENTRY_ANNOTATION")
#set($objectannot = false)
#set($objectannot-uri = false)
#set($objectannot = $hashAnnotMap.get($bioObject.annotationHash))
#set($objectannot-uri =  $isoform-name + "-" + $objectannot.uniqueName)
##DEBUG: annotCat:$annotation.apiTypeName - bioObject = biotype:$bioType - rtype:$resourceType - cat:$objectannot.apiTypeName
##DEBUG: annotCat:$annotation.category  annot:$annotation.uniqueName - bioObject = biotype:$bioType - rtype:$resourceType - cat:$objectannot.category - uname:$objectannot.uniqueName - hash:$objectannot.annotationHash - uri:$objectannot-uri
  :impactedObject annotation:$objectannot-uri ;
#end ## bioType
#end ## resourceType
#end ## is bio object

#foreach($prop in $annotation.getProperties())
## don't remove the presetting to false in next line otherewise problems (pam)
#set($pmodel=false)
#set($pmodel=$NXUtils.getTtlPropertyWriter($annotation.getAPICategory(), $prop.getName()))
#if($pmodel)
#set($UNESCAPED_CDATA = $pmodel.formatValue($prop.getValue()))
  :$pmodel.getName() $UNESCAPED_CDATA ;
#end	
#end
#if($annotation.getVariant())
#set($variant=$annotation.getVariant()) 
  :original "$variant.getOriginal()"^^xsd:string;
  :variation "$variant.getVariant()"^^xsd:string;
#if($variant.getDescription())
  rdfs:comment "$variant.getDescription()"^^xsd:string;
#end    
#if($variant.getDiseaseTerms())
#foreach($term in $variant.getDiseaseTerms())
  :disease cv:$term;
#end
#end    
#end
#if($annotation.getStartPositionForIsoform($isoform-name))
  :start "$annotation.getStartPositionForIsoform($isoform-name)"^^xsd:integer;
#end
#if($annotation.getEndPositionForIsoform($isoform-name))
  :end "$annotation.getEndPositionForIsoform($isoform-name)"^^xsd:integer;
#end
#if($annotation.getHgvsForIsoform($isoform-name))
  :hgvs "$annotation.getHgvsForIsoform($isoform-name)"^^xsd:string;
#end
  .     
#parse("turtle/isoform-annotation-evidence-list.ttl.vm")
