#if($prefix)
#parse("turtle/prefix.ttl.vm")
#end
publication:$publication.getPublicationId() a :Publication;
#if($isLargeScale)
    rdf:type :LargeScalePublication;
#end
#if($publication.hasTitle())
#set($UNESCAPED_CDATA = $publication.title)
    :title """$StringUtils.clean($UNESCAPED_CDATA)"""^^xsd:string;
#end
    :pubType "$publication.getPublicationType().name()"^^xsd:string;
#if($publication.isLocalizable())
    :journal "$publication.getPublicationLocatorName()"^^xsd:string;
#if($publication.getPublicationYear())
    :year "$publication.getPublicationYear()"^^xsd:string;
#end
#if($publication.isLocalizableInBookMedium())
#if($publication.isLocatedInScientificJournal())
    :volume "$publication.getVolume()"^^xsd:string;
    :issue "$publication.getIssue()"^^xsd:string;
#else
    #if($publication.getPublisherName()):publisher "$publication.getPublisherName()"^^xsd:string;#end
    :city "$publication.getPublisherCity()"^^xsd:string;
#end
    :firstPage "$publication.getFirstPage()"^^xsd:string;
    :lastPage "$publication.getLastPage()"^^xsd:string;
#end
#end
#if($publication.hasAuthors())
#foreach($author in $publication.authors)
#if($author.isPerson())
    :author[ a :Person;
#if(!$author.suffix.equals(""))
      :name "$author.getForeName() $author.getLastName() $author.getSuffix()"^^xsd:string;
      :suffix "$author.getSuffix()"^^xsd:string;
#else
      :name "$author.getForeName() $author.getLastName()"^^xsd:string;
#end
    ];
#else
    :author[ a :Consortium;
      :name "$author.getLastName()"^^xsd:string;
    ];
#end
#end
#end
#if($publication.hasEditors())
#foreach($editor in $publication.editors)
    :editor[ a :Person;
#if(!$editor.suffix.equals(""))
      :name "$editor.getForeName() $editor.getLastName() $editor.getSuffix()"^^xsd:string;
      :suffix "$editor.getSuffix()"^^xsd:string;
#else
      :name "$editor.getForeName() $editor.getLastName()"^^xsd:string;
#end
    ];
#end
#end
#if($publication.hasDbXrefs())
#foreach($xref in $publication.getDbXrefs())
    :from [ 
      rdf:type :Xref ;
      :accession "$xref.getAccession()"^^xsd:string ;
      :provenance db:$StringUtils.slug($xref.getDatabaseName()) ; 
   ] ;
#end
#end
    .
