#if($prefix)
#parse("turtle/prefix.ttl.vm")
#end
#
# Define Datasource
# 

:Source
      rdf:type owl:Class ;
      rdfs:label "Source"^^xsd:string ;
      rdfs:comment "Data originator"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      :sourceFile "schema-datasource-list.ttl.vm"^^xsd:string ;
      .

# datasource list

#foreach($datasource in $datasourceList)
#if(! $StringUtils.contains($datasource.getName(), "obsolete"))  
source:$StringUtils.slug($datasource.getName())
  rdf:type owl:Thing, owl:NamedIndividual, :Source ;
  rdfs:label "$datasource.getName()"^^xsd:string ;
  rdfs:comment "$datasource.getDescription()"^^xsd:string ;
#if($datasource.getURL())
  rdfs:seeAlso <$datasource.getURL()> ;
#end
  rdfs:isDefinedBy <http://nextprot.org/rdf> ;
  :sourceFile "controlled-vocabulary/cv_datasources.txt"^^xsd:string ;
  .      
#end
#end