#if($prefix)
#parse("turtle/prefix.ttl.vm")
#end
#
# Define antibody mapping and peptide mapping
# 
:AntibodyMapping
      rdf:type owl:Class ;
      rdfs:comment "Positional mapping of an antibody to an isoform"^^xsd:string ;
      rdfs:subClassOf owl:Thing;
      .

:PeptideMapping
      rdf:type owl:Class ;
      rdfs:comment "Positional mapping of a natural peptide to an isoform"^^xsd:string ;
      rdfs:subClassOf owl:Thing;
      .

:SrmPeptideMapping
      rdf:type owl:Class ;
      rdfs:comment "Positional mapping of a synthetic peptide to an isoform"^^xsd:string ;
      rdfs:subClassOf owl:Thing;
      .


