#if($prefix)
#parse("turtle/prefix.ttl.vm")
#end

#
# Define classes for annotations
#

:AnnotationType 
  rdf:type owl:Class;
  rdfs:label "Annotation type"^^xsd:string;  
  rdfs:comment "Most generic annotation class"^^xsd:string;
  .
 
#foreach($annotation in $annotationList)
#if($annotation.apiTypeName != "AnnotationType")
:$annotation.apiTypeName
   rdfs:subClassOf :$annotation.parent.apiTypeName ;
   rdfs:label "$annotation.label"^^xsd:string;
#if ($annotation.description) 
   rdfs:comment "$annotation.description"^^xsd:string;
#end   
   .
   
#end
#end

