#parse("turtle/prefix.ttl.vm")
#parse("turtle/version.ttl.vm")
#parse("turtle/schema-entry-isoform.ttl.vm")
#parse("turtle/schema-ontology-list.ttl.vm")
#parse("turtle/schema-annotation-list.ttl.vm")
#parse("turtle/schema-evidence-list.ttl.vm")
#parse("turtle/schema-expression.ttl.vm")
#parse("turtle/schema-database-list.ttl.vm")
#parse("turtle/schema-datasource-list.ttl.vm")
#parse("turtle/schema-experimental-context.ttl.vm")
#parse("turtle/additional-properties-def.ttl.vm")
