#if($prefix)
#parse("turtle/prefix.ttl.vm")
#end


:Term
      rdf:type owl:Class ;
      rdfs:label "Term"^^xsd:string;
      rdfs:comment "A concept used to classify resources."^^xsd:string ;
      owl:equivalentClass up:Concept;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      .
## --       
       
:childOf
      a rdf:Property, owl:TransitiveProperty ;
      rdfs:label "child of"^^xsd:string;
      rdfs:comment "A relationship between two terms meaning that the object term is more specific than the subjet term"^^xsd:string ;
      rdfs:domain :Term ;
      rdfs:range :Term;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      .

:related
      a rdf:Property ;
      rdfs:label "related"^^xsd:string;
      rdfs:comment "A relationship between two terms meaning that the their meaning is close to each other"^^xsd:string ;
      rdfs:domain :Term ;
      rdfs:range :Term;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      .


## TODO: check after Vin's work integration

#foreach($ontology in $ontologyList)
:$ontology.getOntology()
    rdf:type owl:Class ;
    rdfs:subClassOf :Term ;
    rdfs:label "$ontology.getName() term"^^xsd:string ;
    rdfs:comment "$ontology.getDescription()"^^xsd:string ;
    rdfs:seeAlso <http://www.nextprot.org/manual/$ontology.getOntology()> ;
    .
#end


## - - - - - - - - - - - - - - - - - - - - - - - - - - -
## Name related entities
## - - - - - - - - - - - - - - - - - - - - - - - - - - -
## Name classes
## - - - - - - - - - - - - - - - - - - - - - - - - - - -
##

:Name a owl:Class ;
   rdfs:label "Name"^^xsd:string;
   rdfs:comment "Most general class for names"^^xsd:string;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
        .
:ShortName a owl:Class ;
   rdfs:subClassOf :Name ;
   rdfs:label "Short name"^^xsd:string;
   rdfs:comment "Class for short names related to another name"^^xsd:string;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
        .
:AllergenName a owl:Class ;
   rdfs:subClassOf :Name ;
   rdfs:label "Allergen name"^^xsd:string;
   rdfs:comment "Class for allergen names"^^xsd:string;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
        .
:EnzymeName a owl:Class ;
   rdfs:subClassOf :Name ;
   rdfs:label "Enzyme name"^^xsd:string;
   rdfs:comment "Class for enzyme names"^^xsd:string;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
        .
:InternationalNonproprietaryName a owl:Class ;
   rdfs:subClassOf :Name ;
   rdfs:label "International Non proprietary Name"^^xsd:string;
   rdfs:comment "Class for international non proprietary names (INN)"^^xsd:string;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
        .
:CDAntigenName a owl:Class ;
   rdfs:subClassOf :Name ;
   rdfs:label "CD Antigen name"^^xsd:string;
   rdfs:comment "Class for antigen names according to the cluster of differentiation nomenclature"^^xsd:string;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
        .
:ProteinName a owl:Class ;
   rdfs:subClassOf :Name ;
   rdfs:label "Protein name"^^xsd:string;
   rdfs:comment "Class for protein names"^^xsd:string;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
        .
:IsoformName a owl:Class ;
   rdfs:subClassOf :Name ;
   rdfs:label "Protein isoform name"^^xsd:string;
   rdfs:comment "Class for protein isoform names"^^xsd:string;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
        .
:FunctionalRegionName a owl:Class ;
   rdfs:subClassOf :Name ;
   rdfs:label "Functional region name"^^xsd:string;
   rdfs:comment "Class for names related to a functional region of a protein"^^xsd:string;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
        .
:CleavedRegionName a owl:Class ;
   rdfs:subClassOf :Name ;
   rdfs:label "Cleaved region name"^^xsd:string;
   rdfs:comment "Class for names related to a cleaved region of protein"^^xsd:string;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
        .
:ORFName a owl:Class ;
   rdfs:subClassOf :Name ;
   rdfs:label "ORF name"^^xsd:string;
   rdfs:comment "Class for names of open reading frames"^^xsd:string;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
        .
:GeneName a owl:Class ; 
   rdfs:subClassOf :Name ;
   rdfs:label "Gene name"^^xsd:string;
   rdfs:comment "Class for gene names"^^xsd:string;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
        .

## - - - - - - - - - - - - - - - - - - - - - - - - - - -
## Name properties
## - - - - - - - - - - - - - - - - - - - - - - - - - - -

:name a owl:ObjectProperty ;
   rdfs:label "name"^^xsd:string;
   rdfs:comment "Most general property linking a protein or a gene to a name"^^xsd:string;
   rdfs:domain [ 
     a owl:Class;
     owl:unionOf (:Entry :Isoform :Gene) 
   ];
   rdfs:range :Name;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
        .
:recommendedName a owl:ObjectProperty ;
   rdfs:label "recommended name"^^xsd:string;
   rdfs:comment "Property linkng a protein or a gene to a recommended name"^^xsd:string;
   rdfs:subPropertyOf :name;
   rdfs:domain [ 
     a owl:Class;
     owl:unionOf (:Entry :Isoform :Gene) 
   ];
   rdfs:range :Name;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
        .
:alternativeName a owl:ObjectProperty ;
   rdfs:label "alternative name"^^xsd:string;
   rdfs:comment "Property linking a protein or a gene to an alternative name"^^xsd:string;
   rdfs:subPropertyOf :name;
   rdfs:domain [ 
     a owl:Class;
     owl:unionOf (:Entry :Isoform :Gene) 
   ];
   rdfs:range :Name;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
        .
:orfName a owl:ObjectProperty ;
   rdfs:label "orf name"^^xsd:string;
   rdfs:comment "Property linking a protein or a gene with an ORF name"^^xsd:string;
   rdfs:subPropertyOf :name;
   rdfs:domain [ 
     a owl:Class;
     owl:unionOf (:Entry :Gene) 
   ];
   rdfs:range :ORFName;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
        .
:otherName a owl:ObjectProperty ;
   rdfs:label "other name"^^xsd:string;
   rdfs:comment "Property linking a recommended name with an other name sometimes used to refer to the same entity"^^xsd:string;
   rdfs:domain :Name;
   rdfs:range :Name;      
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
     .

## - - - - - - - - - - - - - - - - - - - - - - - - - - -


