#if($prefix)
#parse("turtle/prefix.ttl.vm")
#end



:Gene
      rdf:type owl:Class ;
      rdfs:label "Gene"^^xsd:string ;
      rdfs:comment "General information about a gene."^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
	  :sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
      .

:Entry
      rdf:type owl:Class ;
      rdfs:label "Protein"^^xsd:string ;
      rdfs:comment "General information about a protein."^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
	  :sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
      owl:equivalentClass up:Protein;
      .

:Isoform
      rdf:type owl:Class ;
      rdfs:label "Isoform"^^xsd:string ;
      rdfs:comment "Protein isoform."^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
	  :sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
      .

:Proteoform
      rdf:type owl:Class ;
      rdfs:label "Proteoform"^^xsd:string ;
      rdfs:comment "Protein isoform variation. Variations may include variants and PTMs."^^xsd:string ;
      rdfs:subClassOf :Isoform ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;      
	  :sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
      .

:ProteinSequence
      rdf:type owl:Class ;
      rdfs:label "Protein sequence"^^xsd:string ;
      rdfs:comment "Protein sequence object"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
	  :sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
      .

:History
      rdf:type owl:Class ;
      rdfs:label "Protein record history"^^xsd:string ;
      rdfs:comment "A history of a protein entry"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
	  :sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
      .

# quality qualifier class and individuals defining its extension

:QualityQualifier
      rdf:type owl:Class ;
      rdfs:label "Quality qualifier"^^xsd:string ;
      rdfs:comment "Quality qualifiers are used to describe the reliability of an annotation or evidence"^^xsd:string ;
	  rdfs:isDefinedBy <http://nextprot.org/rdf> ;
	  :sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
      owl:equivalentClass [ 
        a owl:Class ;
      	owl:oneOf (
	      	:GOLD 
	      	:SILVER 
	      	:BRONZE
        ) 
      ];
      .
      
:quality
      a rdf:Property, owl:ObjectProperty ;
      rdfs:label "quality"^^xsd:string ;
      rdfs:comment "link between an annotation or evidence and its quality"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
	  :sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
      rdfs:domain [ 
        a owl:Class ;
      	owl:unionOf ( :AnnotationType :Evidence ) 
      ];
      rdfs:range :QualityQualifier ;
      .      
      
:GOLD
	rdf:type owl:Thing, owl:NamedIndividual, :QualityQualifier ;
	rdfs:label "Gold"^^xsd:string ;
	rdfs:comment "High level of confidence"^^xsd:string ;
	rdfs:isDefinedBy <http://nextprot.org/rdf> ;
	:sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
    .

:SILVER
	rdf:type owl:Thing, owl:NamedIndividual, :QualityQualifier ;
	rdfs:label "Silver"^^xsd:string ;
	rdfs:comment "Medium level of confidence"^^xsd:string ;
	rdfs:isDefinedBy <http://nextprot.org/rdf> ;
	:sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
    .
      
:BRONZE
	rdf:type owl:Thing, owl:NamedIndividual, :QualityQualifier ;
	rdfs:label "Bronze"^^xsd:string ;
	rdfs:comment "Low level of confidence"^^xsd:string ;
	rdfs:isDefinedBy <http://nextprot.org/rdf> ;
	:sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
    .


# protein existence level class and individuals defining its extension
      
:ProteinExistence
      rdf:type owl:Class ;
      rdfs:label "Protein existence level"^^xsd:string ;
      rdfs:comment "Protein existence detection method and reliabilty level"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      :sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
      owl:equivalentClass [ 
        a owl:Class ;
      	owl:oneOf (
	      	:Evidence_at_protein_level 
	      	:Evidence_at_transcript_level 
	      	:Inferred_from_homology
	      	:Predicted
	      	:Uncertain
        ) 
      ];
      .

:existence
      a rdf:Property, owl:ObjectProperty ;
      rdfs:label "existence"^^xsd:string ;
      rdfs:comment "link between a protein entry and its existence level"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      :sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
      rdfs:domain :Entry ;
      rdfs:range :ProteinExistence ;
      .

:Evidence_at_protein_level
      rdf:type owl:Thing, owl:NamedIndividual, :ProteinExistence ;
      :level "1"^^xsd:integer ;
      rdfs:label "Evidence at protein level"^^xsd:string ;
      rdfs:comment "Protein existence is supported by evidence at protein level"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      :sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
      .

:Evidence_at_transcript_level
      rdf:type owl:Thing, owl:NamedIndividual, :ProteinExistence ;
      :level "2"^^xsd:integer ;
      rdfs:label "Evidence at transcript level"^^xsd:string ;
      rdfs:comment "Protein existence is supported by evidence at transcript level"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      :sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
      .

:Inferred_from_homology
      rdf:type owl:Thing, owl:NamedIndividual, :ProteinExistence ;
      :level "3"^^xsd:integer ;
      rdfs:label "Inferred from homology"^^xsd:string ;
      rdfs:comment "Protein existence is inferred by homology"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      :sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
      .
      
:Predicted
      rdf:type owl:Thing, owl:NamedIndividual, :ProteinExistence ;
      :level "4"^^xsd:integer ;
      rdfs:label "Predicted"^^xsd:string ;
      rdfs:comment "Protein existence is supported by some algorithm"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      :sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
      .

:Uncertain
      rdf:type owl:Thing, owl:NamedIndividual, :ProteinExistence ;
      :level "5"^^xsd:integer ;
      rdfs:label "Uncertain"^^xsd:string ;
      rdfs:comment "Protein existence is uncertain"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      :sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
      .


      
## --- Publication-related classes
      
:Publication
	rdf:type owl:Class ;
	rdfs:label "Publication"^^xsd:string;
	rdfs:comment "Scientific publication"^^xsd:string;
	rdfs:isDefinedBy <http://nextprot.org/rdf> ;
	:sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
    .

:LargeScalePublication
	rdf:type owl:Class ;
	rdfs:subClassOf :Publication ;
	rdfs:label "Large scale publication"^^xsd:string;
	rdfs:comment "A publication is considered a large scale publication when its content is regarding 15 proteins or more"^^xsd:string;
	rdfs:isDefinedBy <http://nextprot.org/rdf> ;
	:sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
    .

:Person
	rdf:type owl:Class ;
	rdfs:label "Person"^^xsd:string;
	rdfs:comment "Person"^^xsd:string;
	rdfs:isDefinedBy <http://nextprot.org/rdf> ;
	:sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
    .

:Consortium
	rdf:type owl:Class ;
	rdfs:label "Consortium"^^xsd:string;
	rdfs:comment "Consortium"^^xsd:string;
	rdfs:isDefinedBy <http://nextprot.org/rdf> ;
	:sourceFile "schema-entry-isoform.ttl.vm"^^xsd:string ;
    .


