#if($prefix)
#parse("turtle/prefix.ttl.vm")
#end

#
# Define Expresion specialisation
# 

:ObservedExpression
      rdf:type owl:Class ;
      rdfs:label "Expression level"^^xsd:string ;
      rdfs:comment "Expression levels detected during experiment"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      :sourceFile "schema-expression.ttl.vm"^^xsd:string ;      
      .

:Positive
      rdf:type owl:Thing, owl:NamedIndividual, :ObservedExpression ;
      rdfs:label "Expression detected"^^xsd:string ;
      rdfs:comment "Positive level of expression"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      :sourceFile "schema-expression.ttl.vm"^^xsd:string ;
      .

:High
      rdf:type owl:Thing, owl:NamedIndividual, :ObservedExpression ;
      rdfs:label "High expression detected"^^xsd:string ;
      rdfs:comment "High level of expression"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      :sourceFile "schema-expression.ttl.vm"^^xsd:string ;
      .

:Medium
      rdf:type owl:Thing, owl:NamedIndividual, :ObservedExpression ;
      rdfs:label "Medium expression detected"^^xsd:string ;
      rdfs:comment "Medium level of expression"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      :sourceFile "schema-expression.ttl.vm"^^xsd:string ;
      .

:Low
      rdf:type owl:Thing, owl:NamedIndividual, :ObservedExpression ;
      rdfs:label "Low expression detected"^^xsd:string ;
      rdfs:comment "Low level of expression"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      :sourceFile "schema-expression.ttl.vm"^^xsd:string ;
      .

:Negative
      rdf:type owl:Thing, owl:NamedIndividual, :ObservedExpression ;
      rdfs:label "No expression detected"^^xsd:string ;
      rdfs:comment "Negative level of expression"^^xsd:string ;
      rdfs:isDefinedBy <http://nextprot.org/rdf> ;
      :sourceFile "schema-expression.ttl.vm"^^xsd:string ;
      .        

:observedExpression
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "schema-expression.ttl.vm"^^xsd:string ;
    rdfs:label "observed expression"^^xsd:string ;
    rdf:type  owl:ObjectProperty ;
    rdfs:domain :Evidence ;
    rdfs:range :ObservedExpression ;
    . 
    

:expression
   a rdf:Property, owl:ObjectProperty ;
   rdfs:domain :Isoform ;
   rdfs:range :Expression ;
   rdfs:subPropertyOf :generalAnnotation ;
   rdfs:label "expression"^^xsd:string;
   rdfs:comment "Links an isoform to an expression annotation"^^xsd:string;
   rdfs:isDefinedBy <http://nextprot.org/rdf> ;
   :sourceFile "schema-expression.ttl.vm"^^xsd:string ;
   .
   
:undetectedExpression
    a rdf:Property, owl:ObjectProperty ;
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "schema-expression.ttl.vm"^^xsd:string ;
    rdfs:subPropertyOf :expression ;
    rdfs:label "undetectable expression"^^xsd:string ;
    rdfs:comment "Links an isoform to a undetected level of expression"^^xsd:string;
    rdfs:domain :Isoform ;
    rdfs:range :ExpressionProfile ;
    .  

:detectedExpression
    a rdf:Property, owl:ObjectProperty ;
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "schema-expression.ttl.vm"^^xsd:string ;
    rdfs:subPropertyOf :expression ;
    rdfs:label "detected expression"^^xsd:string ;
    rdfs:comment "Links an isoform to a detectable level of expression"^^xsd:string;
    rdfs:domain :Isoform ;
    rdfs:range :ExpressionProfile ;
    . 
 
:highExpression
    a rdf:Property, owl:ObjectProperty ;
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "schema-expression.ttl.vm"^^xsd:string ;
    rdfs:subPropertyOf :detectedExpression ;
    rdfs:label "high expression"^^xsd:string ;
    rdfs:comment "Links an isoform to a high level of expression"^^xsd:string;
    rdfs:domain :Isoform ;
    rdfs:range :ExpressionProfile ;
    . 
 
:lowExpression
    a rdf:Property, owl:ObjectProperty ;
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "schema-expression.ttl.vm"^^xsd:string ;
    rdfs:subPropertyOf :detectedExpression ;
    rdfs:label "low expression"^^xsd:string ;
    rdfs:comment "Links an isoform to a low level of expression"^^xsd:string;
    rdfs:domain :Isoform ;
    rdfs:range :ExpressionProfile ;
    . 
 
:mediumExpression
   a rdf:Property, owl:ObjectProperty ;
    rdfs:isDefinedBy <http://nextprot.org/rdf> ;
    :sourceFile "schema-expression.ttl.vm"^^xsd:string ;
    rdfs:subPropertyOf :detectedExpression ;
    rdfs:label "medium expression"^^xsd:string ;
    rdfs:comment "Links an isoform to a medium level of expression"^^xsd:string;
    rdfs:domain :Isoform ;
    rdfs:range :ExpressionProfile ;
    . 
