#if($prefix)
#parse("turtle/prefix.ttl.vm")
#end

#
# Define super classes for annotations
#

#foreach($annotation in $annotationList)
#if($annotation.apiTypeName != "Root")
##:$annotation.apiTypeName
  ## rdf:type :AnnotationType;
#if ($annotation.description) 
   rdfs:comment "$annotation.description"^^xsd:string;
#end
   rdfs:label "$annotation.label"^^xsd:string;
#foreach($parent in $annotation.getAllParentsButRoot())
   rdfs:subClassOf :$parent.apiTypeName;
#end
   .   
#end
#end

