
# SRM Peptides mappings

#foreach($isoform in $entry.getIsoforms())
#set($isoform-ac =  $isoform.getUniqueName())
#foreach($pep in $entry.getSrmPeptidesByIsoform($isoform-ac))
#set($pep-name=$pep.peptideUniqueName) 
#set($mapping-iri="SYNTH-"+$pep-name+"-"+$isoform-ac)
#foreach($spec in $pep.isoformSpecificity.values())
#if ($spec.isoformAccession==$isoform-ac) 
  isoform:$isoform-ac :positionalAnnotation :$mapping-iri .
  isoform:$isoform-ac :mapping :$mapping-iri .
  isoform:$isoform-ac :srmPeptideMapping :$mapping-iri .
  :$mapping-iri rdf:type :SrmPeptideMapping ;  
    :peptideName "$pep-name"^^xsd:string ;
    :proteotypic "$pep.isProteotypic()"^^xsd:boolean ;
    :position [
      rdf:type :MappingPosition ;    
      :start "$spec.getFirstPosition()"^^xsd:integer ;
      :end "$spec.getLastPosition()"^^xsd:integer ;
    ];
#foreach($evi in $pep.evidences)
    :evidence [
      rdf:type :Evidence ;
      :evidenceCode cv:ECO_0001096;
      :negative "false"^^xsd:boolean;
      :quality :GOLD;            
      :assignedBy source:$StringUtils.slug($evi.assignedBy) ;
      :reference [
        rdf:type :Xref ;
        :provenance db:$StringUtils.slug($evi.databaseName) ;
        :accession "$evi.accession"^^xsd:string ;
      ];
    ];
#end
  .
  
#end
#end
#end
#end
