## repeat annotation for each isoform
cv:$StringUtils.slug($terminology.getAccession()) a :$terminology.getOntology();
  rdfs:label "$StringUtils.clean($terminology.getName())"^^xsd:string;
##  rdfs:comment "$StringUtils.clean($terminology.getDescription())"^^xsd:string;
#if($terminology.getAncestorAccession())
#foreach($ancestor in $terminology.getAncestorAccession())  
  :childOf cv:$StringUtils.slug($ancestor);
#end  
#end
#if($terminology.getACsOfRelatedTerms())
## we add the term itself to make the query  in one shot   
  :related cv:$StringUtils.slug($terminology.getAccession());
#foreach($termAc in $terminology.getACsOfRelatedTerms())
  :related cv:$StringUtils.slug($termAc);
#end  
#end
  . 
 
