

:Version
  rdf:type owl:Class ;
  rdfs:comment "The nextprot api version that generate those current data."^^xsd:string ;
  :ttlGenerationDate "$version.date"^^xsd:date ;
  :databaseRelease "$releaseInfoVersions.databaseRelease"^^xsd:string ;
  :apiRelease "$releaseInfoVersions.apiRelease"^^xsd:string ;
  :genomeAssembly: "GRCh38"^^xsd:string ;  
  .
