<annotation-list>
#foreach($category in $entry.getAnnotationCategories())
<annotation-to-be-renamed category='$category'>
	#foreach($annotation in $entry.getAnnotationsByCategory($category))
		#parse("annotation.xml.vm")
	#end
</annotation-to-be-renamed>
#end
</annotation-list>
