<publication type="$publication.publicationType" id="$publication.publicationId">
		#set($UNESCAPED_CDATA = $publication.title)
		<title>
			<![CDATA[$UNESCAPED_CDATA]]>
		</title>
		<journal name="#if($publication.cvJournal.name)$publication.cvJournal.name#end" volume="$publication.volume" issue="$publication.issue" year="$publication.getPublicationYear()"/>
		<pages first="$publication.firstPage" last="$publication.lastPage" />
		<authors>
		#foreach($author in $publication.authors)
			#if($author.isPerson())
				<person name="$author.foreName $author.lastName $author.suffix" suffix="$author.suffix"/>
			#else
				<consortium name="$author.lastName"/>
			#end
		#end
		</authors>
		#if($publication.dbXrefs.size() > 0)
		<xrefs>
		#foreach($xref in $publication.dbXrefs)
			#parse('xref.xml.vm')								
		#end
		</xrefs>
	#end
</publication>
