{
	"elapsedTime":${result.elapsedTime},
	"entity":"${result.entity}",
	"index":"${result.index}",
	"score":${result.maxScore},
	"found":${result.numFound},
	"rows":${result.rows},
	"start":${result.start},
	"results": [
	#foreach($res in $result.results){
	#foreach($prop in $res.properties.entrySet())"$prop.getKey()":#parse("search_props.json.vm") #if($velocityHasNext), 
#end#end
	
	}#if($velocityHasNext), 
#end#end
	]#if($result.getFacets().values().size() > 0),#end
	#foreach($facet in $result.getFacets().values())
	"$facet.getName()": [
		#foreach($field in $facet.getFacetFields())
		{ "name":"$field.getFirst()", "count":$field.getSecond() } #if($velocityHasNext), #end 
	#end]
	#end,
	
	"spellcheck": {
		"collations": [
		#foreach($col in $result.getSpellcheck().getCollations())
		{"query":"$col.getFirst()","hits":$col.getSecond()}#if($velocityHasNext),
#end
		#end],
		"suggestions": {
		#foreach($sug in $result.getSpellcheck().getSuggestions().entrySet())
		"$sug.getKey()": [
				#foreach($s in $sug.getValue())"$s" #if($velocityHasNext),
				#end#end]#if($velocityHasNext),#end
		#end
		}
	} 

}
