<target-isoform-list>
	#foreach($isoform in $target-isoform-list)
		<target-isoform isoformRef='$isoform.getIsoformRef()'>
			#if($isoform.hasPositions())
				<position-list>
					<position #if($isoform.getFirstPosition() > 0) first='$isoform.getFirstPosition()'#{else}firstStatus='unknown'#end #if($isoform.getLastPosition() > 0) last='$isoform.getLastPosition()'#{else}lastStatus='unknown'#end />
				</position-list>
			#end
		</target-isoform>
	#end
</target-isoform-list>