# PEFF 1.0$StringUtils.getCR()
# DbName=neXtProt $entry.getUniqueName()$StringUtils.getCR()
# DbSource=https://www.nextprot.org$StringUtils.getCR()
# DbVersion=$releaseInfo.getDatabaseRelease()$StringUtils.getCR()
# Prefix=nxp$StringUtils.getCR()
# NumberOfEntries=$entry.isoforms.size()$StringUtils.getCR()
# SequenceType=AA$StringUtils.getCR()
# //$StringUtils.getCR()
#parse('peff/entry-no-header.peff.vm')